@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto"; }

a {
  color: inherit;
  text-decoration: none; }

header {
  display: flex;
  align-items: center;
  flex-direction: column; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  padding: 0 3rem;
  height: auto; }
  .nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .nav__logo__title {
      font-weight: 700;
      font-size: 2rem;
      color: #000000; }

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem; }
  .nav__links__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem; }
  .nav__links__list > li > a {
    text-decoration: none;
    color: #000000;
    font-size: 1.6rem; }
    .nav__links__list > li > a:hover {
      color: #6b6b6b;
      transition: all 0.3s ease; }

.btn--green {
  background-color: #2f7973; }

.join-btn {
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  color: #f3f3f3;
  cursor: pointer;
  font-weight: 600; }
  .join-btn:hover {
    transition: all 0.3s;
    background-color: #1e524e; }

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0 31rem 0;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0)), url("../assets/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom; }
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem; }
    .hero__content__title {
      font-size: 4.4rem;
      font-weight: 500;
      line-height: 5.4rem;
      text-align: center;
      text-transform: uppercase; }
    .hero__content__description {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      text-align: center;
      padding: 0 37rem; }
      .hero__content__description a {
        font-weight: bold;
        color: #2f7973; }
    .hero__content__btn {
      padding: 1.6rem 3.2rem;
      border-radius: 0.8rem;
      color: #f3f3f3;
      border: none;
      background-color: #2f7973;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer; }
      .hero__content__btn:hover {
        transition: all 0.3s;
        background-color: #1e524e; }

.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13.5rem;
  padding-bottom: 14rem; }
  .our-mission__content__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0; }
  .our-mission__content__title > h2 {
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: center;
    color: #000000; }
  .our-mission__content__details {
    display: flex;
    align-items: center;
    gap: 12.4rem; }
    .our-mission__content__details .description {
      width: 47.5rem;
      position: relative; }
      .our-mission__content__details .description p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.2rem;
        text-align: left;
        margin-bottom: 1.8rem; }
      .our-mission__content__details .description img {
        transform: rotate(180deg);
        position: absolute;
        right: 0; }
    .our-mission__content__details .search-engine {
      width: 52rem;
      height: 37.5rem;
      padding: 1rem; }
      .our-mission__content__details .search-engine iframe {
        transform: scale(0.75);
        transform-origin: 0 0; }

.how-contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7; }
  .how-contribute__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.2rem 0; }
    .how-contribute__title h2 {
      font-size: 3.2rem;
      font-weight: 400; }
    .how-contribute__title img {
      transform: scale(1.3, 0.9); }
  .how-contribute__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 42rem;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 4.2rem; }
  .how-contribute__jobs {
    display: flex;
    gap: 5.2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 7rem;
    position: relative; }
    .how-contribute__jobs #arrow-left {
      position: absolute;
      top: 13rem;
      left: -10rem;
      cursor: pointer;
      transform: scale(0.7); }
      .how-contribute__jobs #arrow-left:hover {
        filter: invert(50%); }
    .how-contribute__jobs #arrow-right {
      position: absolute;
      top: 13rem;
      right: -10rem;
      transform: rotate(180deg) scale(0.7);
      cursor: pointer; }
      .how-contribute__jobs #arrow-right:hover {
        filter: invert(50%); }
  .how-contribute__job {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
    padding-bottom: 4rem;
    background-color: #fff; }
    .how-contribute__job img {
      width: 25rem; }
    .how-contribute__job__text {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      padding-left: 2.4rem; }
      .how-contribute__job__text h3 {
        font-size: 1.8rem;
        font-weight: 400; }
      .how-contribute__job__text a {
        font-size: 1.4rem; }

.why-contribute {
  height: 60rem;
  display: flex;
  align-items: center;
  justify-content: center; }
