@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* declare global variables that repeat */
:root {
  --primary-color: #2f7973;
  --text-color: #000000;
  --background-light: #f3f3f3;
  --hover-text-color: #6b6b6b;
  --hover-bg-color: #1e524e;
  --border-color: #ccc;
  --font-size-standard: 1.6rem;
  --font-weight-normal: 400;
  --button-border-radius: 0.8rem;
  --hover-filter: invert(50%);
  --light-bg-color: #f7f7f7;
  --subheading-font-size: 2.4rem;
  --heading-font-size: 3.2rem;
  --spacing-large: 5.2rem;
  --spacing-medium: 2.4rem;
  --spacing-small: 1.6rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

.hover-transition {
  transition: color 0.3s ease;
}

.hover-bg-transition {
  transition: background-color 0.3s ease;
}

.hover-filter-transition:hover {
  filter: var(--hover-filter);
}

/* Navbar Styles */
.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: var(--background-light);
  z-index: 99;
  max-width: 1440px;
  width: 100%;
  padding: 0 3rem;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.nav__logo__title {
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color);
}

.nav-bottom-border {
  border-bottom: 1px solid var(--border-color);
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav__links__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.nav__links__list .active {
  border-bottom: 3px solid #2f7973;
}
.nav__links__list > li > a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size-standard);
}
.nav__links__list > li > a:hover {
  color: var(--hover-text-color);
  transition: all 0.3s ease;
}

.btn--green {
  background-color: var(--primary-color);
}

.join-btn {
  padding: 1rem 3.2rem;
  border-radius: var(--button-border-radius);
  border: none;
  font-size: var(--font-size-standard);
  color: var(--background-light);
  cursor: pointer;
  font-weight: 600;
}
.join-btn:hover {
  transition: all 0.3s;
  background-color: var(--hover-bg-color);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0 31rem 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../assets/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
}
.hero__content__title {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 5.4rem;
  text-align: center;
  text-transform: uppercase;
}
.hero__content__description {
  font-size: 1.8rem;
  font-weight: var(--font-weight-normal);
  line-height: 2.8rem;
  text-align: center;
  padding: 0 37rem;
}
.hero__content__description a {
  font-weight: bold;
  color: var(--primary-color);
}
.hero__content__btn {
  padding: var(--spacing-small) 3.2rem;
  border-radius: var(--button-border-radius);
  color: var(--background-light);
  border: none;
  background-color: var(--primary-color);
  font-size: var(--font-size-standard);
  font-weight: 600;
  cursor: pointer;
}
.hero__content__btn:hover {
  transition: all 0.3s;
  background-color: var(--hover-bg-color);
}

.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13.5rem;
  padding-bottom: 14rem;
}
.our-mission__content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
}
.our-mission__content__title > h2 {
  font-size: 3.2rem;
  font-weight: var(--font-weight-normal);
  line-height: 3.6rem;
  text-align: center;
  color: var(--text-color);
}
.our-mission__content__details {
  display: flex;
  align-items: center;
  gap: 12.4rem;
}
.our-mission__content__details .description {
  width: 47.5rem;
  position: relative;
}
.our-mission__content__details .description p {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-normal);
  line-height: 2.2rem;
  text-align: left;
  margin-bottom: 1.8rem;
}
.our-mission__content__details .description img {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
}
.our-mission__content__details .search-engine {
  width: 52rem;
  height: 37.5rem;
  padding: 1rem;
}
.our-mission__content__details .search-engine iframe {
  transform: scale(0.75);
  transform-origin: 0 0;
}

.how-contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-bg-color);
}
.how-contribute__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.2rem 0;
}
.how-contribute__title h2 {
  font-size: 3.2rem;
  font-weight: var(--font-weight-normal);
}
.how-contribute__title img {
  transform: scale(1.3, 0.9);
}
.how-contribute__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 42rem;
  text-align: center;
  font-size: var(--font-size-standard);
  padding-bottom: 4.2rem;
}
.how-contribute .swiper {
  width: 100%;
  max-width: 110rem;
  height: auto;
  position: static !important;
  display: flex !important;
}
.how-contribute .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-contribute .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.how-contribute .swiper .swiper-button-prev,
.how-contribute .swiper .swiper-button-next {
  width: 9rem;
  height: 9rem;
}
.how-contribute .swiper .swiper-button-prev {
  position: absolute;
  top: 250rem;
  left: 30rem;
  cursor: pointer;
  transform: scale(0.7);
}
.how-contribute .swiper .swiper-button-prev:hover {
  filter: invert(50%);
}
.how-contribute .swiper .swiper-button-next {
  position: absolute;
  top: 250rem;
  right: 30rem;
  transform: rotate(180deg) scale(0.7);
  cursor: pointer;
}
.how-contribute .swiper .swiper-button-next:hover {
  filter: invert(50%);
}
.how-contribute__jobs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7rem;
  position: relative;
}
.how-contribute__job {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
  padding-bottom: 4rem;
  background-color: #fff;
}
.how-contribute__job img {
  width: 25rem;
}
.how-contribute__job .how-contribute__job__text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-left: 0.5rem;
  align-items: flex-start;
}
.how-contribute__job .how-contribute__job__text h3 {
  font-size: 1.8rem;
  font-weight: var(--font-weight-normal);
}
.how-contribute__job .how-contribute__job__text a {
  font-size: 1.4rem;
}

.why-contribute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.why-contribute__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.2rem 0;
}
.why-contribute h2 {
  font-size: 3.2rem;
  font-weight: var(--font-weight-normal);
}
.why-contribute__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-standard);
  padding-bottom: 4.2rem;
}
.why-contribute__reasons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25rem;
  padding-top: 0;
  padding-bottom: 15rem;
}
.why-contribute__reasons__reason {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}
.why-contribute__reasons__reason p {
  font-size: 2rem;
  text-align: center;
  padding-top: 1.5rem;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 34rem;
  gap: 3.5rem;
  background-color: var(--background-light);
}
.team h2 {
  font-size: 3.2rem;
  font-weight: var(--font-weight-normal);
  text-align: center;
  color: var(--text-color);
  margin-bottom: -0.5rem;
}
.team-line {
  transform: scale(0.6);
}
.team p {
  font-size: var(--font-size-standard);
  line-height: 130%;
  text-align: center;
}
.team__members {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 6rem;
  padding-bottom: 3rem;
}
.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.team__member-img {
  width: 16rem;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.team__member h4 {
  font-size: 2rem;
  font-weight: 500;
}
.team__member p {
  font-size: var(--font-size-standard);
}
.team__member__socials {
  display: flex;
  gap: var(--spacing-small);
  align-items: center;
  justify-content: center;
}
.team__member__socials img:hover {
  transform: all 0.2s;
  filter: invert(41%) sepia(45%) saturate(514%) hue-rotate(126deg) brightness(89%) contrast(88%);
}

.thank-section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15rem 0;
}
.thank-section__final-logo {
  padding-bottom: 3rem;
}
.thank-section p {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-normal);
  line-height: 2.2rem;
  padding-left: 42rem;
  padding-right: 42rem;
}

.join-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10rem;
  background-color: var(--light-bg-color);
}
.join-us-section h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  padding: 3rem 0;
}
.join-us-section p {
  font-size: var(--font-size-standard);
  font-weight: var(--font-weight-normal);
  line-height: 2.2rem;
  padding: 0 30rem 8rem 30rem;
}
.join-us-section__button {
  padding: 1rem 3.2rem;
  border-radius: var(--button-border-radius);
  border: none;
  font-size: var(--font-size-standard);
  color: white;
  cursor: pointer;
  font-weight: 600;
  background-color: var(--primary-color);
}
.join-us-section__button:hover {
  transition: all 0.3s;
  background-color: var(--hover-bg-color);
}

/* Button Styles */
.btn {
  padding: 1rem 3.2rem;
  border-radius: var(--button-border-radius);
  border: none;
  font-size: var(--font-size-standard);
  color: var(--background-light);
  cursor: pointer;
  font-weight: 600;
  background-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--hover-bg-color);
}

/* Footer Styles */
footer {
  padding: 11.2rem 22rem 2.7rem 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .footer-navigation {
  padding-bottom: 5.65rem;
}

footer hr {
  height: 0;
  border: none;
  border-top: 1px solid var(--text-color);
  width: 100%;
  max-width: 100rem;
  margin-bottom: 5.5rem;
}

footer .footer-social__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

footer .footer-social__links li {
  cursor: pointer;
}
footer .footer-social__links li a img {
  width: 2.5rem;
  height: 2.5rem;
}
footer .footer-social__links li a img:hover {
  filter: var(--hover-filter);
}

footer .footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-bottom p {
  padding: 1rem;
  font-size: 1.9rem;
}

footer .footer-bottom h4 {
  font-size: 2rem;
}

/* Scroll to Top Button */
.top-redirect-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  z-index: 99;
  /* redirect btn position from bottom&right using viewport height and width */
  bottom: 1vh;
  right: 5vw;
}

.top-redirect-btn img {
  width: 5rem;
  height: 5rem;
}

.top-redirect-btn img:hover {
  filter: var(--hover-filter);
}

/*# sourceMappingURL=style.css.map */