/* Global Imports */
@import "utils/_colors.scss";
@import "utils/typography";
@import "utils/reset";

@import "scss/_header";
@import "scss/_hero";
@import "scss/_our-mission";
@import "scss/_how-contribute";
@import "scss/_why-contribute";
@import "scss/_team";
@import "scss/_thank-section";
@import "scss/_join-us-section";
@import "scss/_footer";