/* Global Imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto";
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER SECTION */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION SECTION */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: #f3f3f3;
  z-index: 99;
  max-width: 1440px;
  width: 100%;
  padding: 0 3rem;
  height: auto;
}
.nav__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav__logo__title {
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
}

.nav-bottom-border {
  border-bottom: 1px solid #ccc;
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav__links__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 3rem;
}
.nav__links__list .active {
  border-bottom: 3px solid #2f7973;
}
.nav__links__list > li > a {
  text-decoration: none;
  color: #000000;
  font-size: 1.6rem;
}
.nav__links__list > li > a:hover {
  color: #6b6b6b;
  transition: all 0.3s ease;
}

.responsive-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  .nav {
    display: block;
  }
  .nav__links {
    background-color: #f3f3f3;
    margin-top: 10px;
  }
  .nav__links__list {
    display: none;
  }
  .nav__links__list.show {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__links__list li > a {
    position: relative;
  }
  .nav__links__list li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  .nav__links__list li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  .nav__logo {
    display: block;
    margin-top: 25px;
  }
  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;
  }
  .hamburger-menu-icon.hidden {
    display: none;
  }
  .hamburger-menu-icon > img {
    height: 35px;
  }
  .close-menu-icon.hidden {
    display: none;
  }
  .close-menu-icon.visible {
    display: block;
    margin-top: 18px;
    border: none;
  }
  .close-menu-icon.visible > img {
    height: 25px;
  }
}
@media only screen and (max-width: 768px) {
  .nav {
    display: block;
  }
  .nav__links {
    background-color: #f3f3f3;
    margin-top: 10px;
  }
  .nav__links__list {
    display: none;
  }
  .nav__links__list.show {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__links__list li > a {
    position: relative;
  }
  .nav__links__list li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  .nav__links__list li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  .nav__logo {
    display: block;
    margin-top: 25px;
  }
  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;
  }
  .hamburger-menu-icon.hidden {
    display: none;
  }
  .hamburger-menu-icon > img {
    height: 35px;
  }
  .close-menu-icon.hidden {
    display: none;
  }
  .close-menu-icon.visible {
    display: block;
    margin-top: 18px;
    border: none;
  }
  .close-menu-icon.visible > img {
    height: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    display: block;
  }
  .nav__links {
    background-color: #f3f3f3;
    margin-top: 10px;
  }
  .nav__links__list {
    display: none;
  }
  .nav__links__list.show {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__links__list li > a {
    position: relative;
  }
  .nav__links__list li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
  }
  .nav__links__list li > a:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  .nav__logo {
    display: block;
    margin-top: 25px;
  }
  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;
  }
  .hamburger-menu-icon.hidden {
    display: none;
  }
  .hamburger-menu-icon > img {
    height: 35px;
  }
  .close-menu-icon.hidden {
    display: none;
  }
  .close-menu-icon.visible {
    display: block;
    margin-top: 18px;
    border: none;
  }
  .close-menu-icon.visible > img {
    height: 25px;
  }
}
@media only screen and (min-width: 1023px) {
  .hamburger-menu-icon {
    display: none;
  }
  .close-menu-icon {
    display: none;
  }
}
.join-btn {
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  color: #f3f3f3;
  cursor: pointer;
  font-weight: 600;
}
.join-btn:hover {
  transition: all 0.3s;
  background-color: #1e524e;
}

.btn--green {
  background-color: #2f7973;
}

/* HERO SECTION */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0 31rem 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)), url("../assets/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.6rem;
}
.hero__content__title {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 5.4rem;
  text-align: center;
  text-transform: uppercase;
}
.hero__content__description {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  text-align: center;
  padding: 0 37rem;
}
.hero__content__description a {
  font-weight: bold;
  color: #2f7973;
}
.hero__content__btn {
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
  color: #f3f3f3;
  border: none;
  background-color: #2f7973;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}
.hero__content__btn:hover {
  transition: all 0.3s;
  background-color: #1e524e;
}

/* OUR MISSION SECTION */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13.5rem;
  padding-bottom: 14rem;
}
.our-mission__content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
}
.our-mission__content__title > h2 {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: center;
  color: #000000;
}
.our-mission__content__details {
  display: flex;
  align-items: center;
  gap: 12.4rem;
}
.our-mission__content__details .description {
  width: 47.5rem;
  position: relative;
}
.our-mission__content__details .description p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  text-align: left;
  margin-bottom: 1.8rem;
}
.our-mission__content__details .description img {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
}
.our-mission__content__details .search-engine {
  width: 52rem;
  height: 37.5rem;
  padding: 1rem;
}
.our-mission__content__details .search-engine iframe {
  transform: scale(0.75);
  transform-origin: 0 0;
}

@media only screen and (max-width: 320px) {
  .our-mission {
    margin-bottom: 30rem;
  }
  .our-mission__content__title h2 {
    font-size: 2.2rem;
  }
  .our-mission__content__details {
    display: block;
    text-align: left;
  }
  .our-mission__content__details .description {
    width: 100vw;
    margin: 0 auto;
    white-space: normal;
    padding: 0 2rem;
  }
  .our-mission__content__details .description p {
    margin-bottom: 2rem;
  }
  .our-mission__content__details .description img {
    display: none;
  }
  .our-mission__content__details .search-engine {
    width: 30rem;
    height: 0;
    padding: 0;
  }
  .our-mission__content__details .search-engine iframe {
    width: 43rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .our-mission {
    margin-bottom: 32rem;
  }
  .our-mission__content__title h2 {
    font-size: 2.2rem;
  }
  .our-mission__content__details {
    display: block;
    text-align: left;
  }
  .our-mission__content__details .description {
    width: auto;
    margin: 0 auto;
    white-space: normal;
    padding: 0 2rem;
  }
  .our-mission__content__details .description p {
    margin-bottom: 2rem;
  }
  .our-mission__content__details .description img {
    display: none;
  }
  .our-mission__content__details .search-engine {
    width: 30rem;
    height: 0;
    padding: 0;
  }
  .our-mission__content__details .search-engine iframe {
    width: 43rem;
  }
}
@media screen and (min-width: 650px) and (max-width: 768px) {
  .our-mission {
    margin-bottom: 36rem;
  }
  .our-mission__content__title h2 {
    font-size: 2.2rem;
  }
  .our-mission__content__details {
    display: block;
    text-align: left;
  }
  .our-mission__content__details .description {
    width: auto;
    margin: 0 auto;
    white-space: normal;
    padding: 0 2rem;
  }
  .our-mission__content__details .description p {
    margin-bottom: 2rem;
  }
  .our-mission__content__details .description img {
    display: none;
  }
  .our-mission__content__details .search-engine {
    width: 30rem;
    height: 0;
    padding: 0;
  }
  .our-mission__content__details .search-engine iframe {
    width: 80vw;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .our-mission__content__details {
    display: block;
  }
  .our-mission__content__details .description {
    margin-left: 40px;
  }
  .our-mission__content__details .description img {
    display: none;
  }
  .our-mission__content__details .description iframe {
    width: 80vw;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  .our-mission {
    margin-bottom: 50rem;
  }
  .our-mission__content__details {
    gap: 0px;
  }
}
/* HOW CONTRIBUTE SECTION */
.how-contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
.how-contribute__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.2rem 0;
}
.how-contribute__title h2 {
  font-size: 3.2rem;
  font-weight: 400;
}
.how-contribute__title img {
  transform: scale(1.3, 0.9);
}
.how-contribute__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0 42rem;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 4.2rem;
}
.how-contribute .swiper {
  width: 100%;
  max-width: 110rem;
  height: auto;
  position: static !important;
  display: flex !important;
}
.how-contribute .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how-contribute .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.how-contribute .swiper .swiper-button-prev,
.how-contribute .swiper .swiper-button-next {
  width: 9rem;
  height: 9rem;
}
.how-contribute .swiper .swiper-button-prev {
  position: absolute;
  top: 250rem;
  left: 30rem;
  cursor: pointer;
  transform: scale(0.7);
}
.how-contribute .swiper .swiper-button-prev:hover {
  filter: invert(50%);
}
.how-contribute .swiper .swiper-button-next {
  position: absolute;
  top: 250rem;
  right: 30rem;
  transform: rotate(180deg) scale(0.7);
  cursor: pointer;
}
.how-contribute .swiper .swiper-button-next:hover {
  filter: invert(50%);
}
.how-contribute__jobs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 7rem;
  position: relative;
}
.how-contribute__job {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
  padding-bottom: 4rem;
  background-color: #fff;
}
.how-contribute__job img {
  width: 25rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.how-contribute__job .how-contribute__job__text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-left: 0.5rem;
  align-items: flex-start;
}
.how-contribute__job .how-contribute__job__text h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.how-contribute__job .how-contribute__job__text a {
  font-size: 1.4rem;
}

/* WHY CONTRIBUTE SECTION */
.why-contribute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.why-contribute__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.2rem 0;
}
.why-contribute__title h2 {
  font-size: 3.2rem;
  font-weight: 400;
}
.why-contribute__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.2rem;
}
.why-contribute__description p {
  font-size: 1.6rem;
  text-align: center;
}
.why-contribute__reasons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25rem;
  padding-top: 0;
  padding-bottom: 15rem;
}
.why-contribute__reasons__reason {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}
.why-contribute__reasons__reason p {
  font-size: 2rem;
  text-align: center;
  padding-top: 1.5rem;
}

@media screen and (min-width: 1024px) and (max-width: 1398px) {
  .why-contribute__title {
    padding: 3.5rem 0;
  }
  .why-contribute__description {
    padding: 0 15rem 4rem 15rem;
    gap: 0.2rem;
  }
  .why-contribute__reasons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
  .why-contribute__reasons__reason {
    padding: 0rem;
  }
  .why-contribute__reasons__reason img {
    width: 7rem;
  }
  .why-contribute__reasons__reason p {
    font-size: 1.8rem;
    padding-top: 1.4rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .why-contribute {
    padding: 2rem 0rem;
  }
  .why-contribute__title {
    padding: 2.2rem 0rem;
  }
  .why-contribute__description {
    padding: 0 10rem 3rem 10rem;
    gap: 0.4rem;
  }
  .why-contribute__reasons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
    padding: 0rem;
  }
  .why-contribute__reasons__reason {
    padding: 0.5rem;
    grid-column: span 2;
  }
  .why-contribute__reasons__reason:last-child:nth-child(3n-1) {
    grid-column-end: -2;
  }
  .why-contribute__reasons__reason:nth-last-child(2):nth-child(3n+1) {
    grid-column-end: 4;
  }
  .why-contribute__reasons__reason img {
    width: 6rem;
  }
  .why-contribute__reasons__reason p {
    padding: 1.5rem 0.3rem 0.3rem 0.3rem;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .why-contribute {
    gap: 2.4rem;
    padding: 2.4rem 0;
  }
  .why-contribute__title {
    padding: 0rem;
  }
  .why-contribute__title h2 {
    padding: 0.8rem 3.95rem;
    font-size: 2rem;
    line-height: 113%;
  }
  .why-contribute__title img {
    margin-top: -1rem;
    width: 18.3rem;
    height: 2rem;
  }
  .why-contribute__description {
    padding: 0 4rem;
    gap: 0.8rem;
  }
  .why-contribute__description p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  .why-contribute__reasons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    padding-bottom: 0rem;
  }
  .why-contribute__reasons__reason {
    padding: 0rem;
    gap: 0.9rem;
  }
  .why-contribute__reasons__reason p {
    font-size: 1.4rem;
    line-height: 136%;
  }
  .why-contribute__reasons__reason img {
    width: 5rem;
  }
}
@media (max-width: 320px) {
  .why-contribute__description {
    padding: 0 2rem;
    gap: 1rem;
  }
}
.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 34rem;
  gap: 3.5rem;
  background-color: #f3f3f3;
}
.team h2 {
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  color: #000000;
  margin-bottom: -0.5rem;
}
.team .team-line {
  transform: scale(0.6);
}
.team p {
  font-size: 1.6rem;
  line-height: 130%;
  text-align: center;
}
.team__members {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 6rem;
  padding-bottom: 3rem;
}
.team__member {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.team__member__desc {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.team__member-img {
  width: 16rem;
  height: 16rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.team__member h4 {
  font-size: 2rem;
  font-weight: 500;
}
.team__member p {
  font-size: 1.6rem;
}
.team__member__socials {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: center;
}
.team__member__socials img:hover {
  transform: all 0.2s;
  filter: invert(41%) sepia(45%) saturate(514%) hue-rotate(126deg) brightness(89%) contrast(88%);
}

@media only screen and (max-width: 768px) {
  .team p {
    width: 90vw;
    font-size: 2.2rem;
  }
  .team__members {
    flex-direction: column;
  }
  .team__member {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: repeat(3, 4rem);
  }
  .team__member-img {
    grid-column: 1;
    grid-row: 1/3;
  }
  .team__member h4 {
    grid-column: 2;
    grid-row: 1;
    justify-self: left;
    font-size: 2.5rem;
  }
  .team__member p {
    grid-column: 2;
    grid-row: 2;
    justify-self: left;
    width: auto;
    font-size: 2.2rem;
  }
  .team__member__socials {
    grid-column: 2;
    grid-row: 3;
    justify-self: left;
  }
}
/* THANK YOU SECTION */
.thank-section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15rem 0;
}
.thank-section__final-logo {
  padding-bottom: 3rem;
}
.thank-section p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  padding-left: 42rem;
  padding-right: 42rem;
}

/* JOIN US SECTION */
.join-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10rem;
  background-color: #f7f7f7;
}
.join-us-section h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.4rem;
  padding: 3rem 0;
}
.join-us-section p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.2rem;
  padding: 0 30rem 8rem 30rem;
}
.join-us-section__button {
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
  font-weight: 600;
  background-color: #2f7973;
}
.join-us-section__button:hover {
  transition: all 0.3s;
  background-color: #1e524e;
}

/* FOOTER SECTION */
footer {
  padding: 11.2rem 22rem 2.7rem 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-navigation {
  padding-bottom: 5.65rem;
}
footer hr {
  height: 0;
  border: none;
  border-top: 1px solid #000000;
  width: 100%;
  max-width: 100rem;
  margin-bottom: 5.5rem;
}
footer .footer-social__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 5rem;
}
footer .footer-social__links li {
  cursor: pointer;
}
footer .footer-social__links li a img {
  width: 4rem;
  height: 4rem;
}
footer .footer-social__links li a img:hover {
  filter: invert(44%) sepia(9%) saturate(2875%) hue-rotate(126deg) brightness(85%) contrast(77%);
}
footer .footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-bottom p {
  padding: 1rem;
  font-size: 1.9rem;
}
footer .footer-bottom h4 {
  font-size: 2rem;
}

.top-redirect-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  z-index: 99;
  right: 2vw;
  bottom: 2vh;
}
.top-redirect-btn img {
  width: 5rem;
  height: 5rem;
}
.top-redirect-btn img:hover {
  filter: invert(44%) sepia(9%) saturate(2875%) hue-rotate(126deg) brightness(85%) contrast(77%);
}

.main {
  box-shadow: 0 0.1rem 1.8rem 0 rgba(107, 107, 107, 0.35);
  margin: 0 2rem;
  border-radius: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .main {
    padding-bottom: 4rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  .main {
    padding-bottom: 5rem;
  }
}
@media (min-width: 1280px) {
  .main {
    padding-bottom: 6rem;
  }
}
@media (min-width: 1440px) {
  .main {
    padding-bottom: 7rem;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.back__wrapper {
  margin: 14rem 2rem 2rem 2rem;
}
.back__wrapper a {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.7rem;
  color: #000000;
}
@media (min-width: 768px) {
  .back__wrapper {
    margin: 13rem 3rem 3rem 3rem;
  }
}
@media (min-width: 1024px) {
  .back__wrapper {
    margin: 12rem 4rem 4rem 4rem;
  }
}
@media (min-width: 1280px) {
  .back__wrapper {
    margin: 12rem 5rem 5rem 5rem;
  }
}
@media (min-width: 1440px) {
  .back__wrapper {
    margin: 12rem 6rem 6rem 6rem;
  }
}

.jd__container {
  gap: 5.4rem;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
@media (min-width: 768px) {
  .jd__container {
    margin: 0 3rem;
  }
  .jd__container .jd__apply {
    width: 13rem;
  }
}
@media (min-width: 1024px) {
  .jd__container {
    margin: 0 4rem;
  }
}
@media (min-width: 1280px) {
  .jd__container {
    margin: 0 5rem;
  }
}
@media (min-width: 1440px) {
  .jd__container {
    margin: 0 6rem;
  }
}
.jd__container .jd__header {
  display: flex;
  flex-direction: column;
  gap: 5.4rem;
  font-size: 1.6rem;
}
.jd__container .jd__main {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1.6rem;
  padding: 2.4rem 2.8rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.jd__container .jd__main .title {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.7rem;
  color: #2f7973;
}
@media (min-width: 768px) {
  .jd__container .jd__main .title {
    font-size: 4rem;
  }
}
@media (min-width: 1024px) {
  .jd__container .jd__main .title {
    font-size: 4.4rem;
  }
}
@media (min-width: 1280px) {
  .jd__container .jd__main .title {
    font-size: 4.8rem;
  }
}
@media (min-width: 1440px) {
  .jd__container .jd__main .title {
    font-size: 5.2rem;
  }
}
.jd__container .jd__main .title__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.jd__container .jd__main .title__details .employer {
  color: #6b6b6b;
  font-size: 2rem;
}
@media (min-width: 768px) {
  .jd__container .jd__main .title__details .employer {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .jd__container .jd__main .title__details .employer {
    font-size: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .jd__container .jd__main .title__details .employer {
    font-size: 2.4rem;
  }
}
@media (min-width: 1440px) {
  .jd__container .jd__main .title__details .employer {
    font-size: 2.6rem;
  }
}
.jd__container .jd__main .title__details .departament {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #000000;
}
@media (min-width: 768px) {
  .jd__container .jd__main .title__details .departament {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .jd__container .jd__main .title__details .departament {
    font-size: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .jd__container .jd__main .title__details .departament {
    font-size: 2.4rem;
  }
}
@media (min-width: 1440px) {
  .jd__container .jd__main .title__details .departament {
    font-size: 2.6rem;
  }
}
.jd__container .jd__main .subtitles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .jd__container .jd__main .subtitles {
    flex-direction: row;
    gap: 3rem;
  }
  .jd__container .jd__main .subtitles .applyBtn {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .jd__container .jd__main .subtitles {
    gap: 4rem;
  }
}
@media (min-width: 1280px) {
  .jd__container .jd__main .subtitles {
    gap: 5rem;
  }
}
@media (min-width: 1440px) {
  .jd__container .jd__main .subtitles {
    gap: 6rem;
  }
}
.jd__container .jd__main .subtitles .info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.jd__container .jd__main .subtitles .info .item {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #6b6b6b;
}
.jd__container .jd__main .subtitles .info .item .img {
  stroke: #6b6b6b;
  fill: #6b6b6b;
}
.jd__container .jd__main .subtitles .applyBtn {
  background-color: #2f7973;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 3.2rem;
  color: #f3f3f3;
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  align-self: flex-end;
  cursor: pointer;
}
.jd__container .jd__main .subtitles .applyBtn:hover {
  transition: all 0.3s;
  background-color: #1e524e;
}
@media (min-width: 768px) {
  .jd__container .jd__main .subtitles .applyBtn {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .jd__container .jd__main .subtitles .applyBtn {
    height: 5rem;
  }
}
.jd__container .jd__body {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}
.jd__container .jd__body .description {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.jd__container .jd__body .description > div {
  gap: 1.2rem;
}
.jd__container .jd__body .description > p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #6b6b6b;
}
.jd__container .jd__body .description .description__header {
  font-size: 2.6rem;
  line-height: 3.9rem;
  color: #000000;
}
@media (min-width: 768px) {
  .jd__container .jd__body .description .description__header {
    font-size: 2.8rem;
  }
}
@media (min-width: 1024px) {
  .jd__container .jd__body .description .description__header {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .jd__container .jd__body .description .description__header {
    font-size: 3.2rem;
  }
}
@media (min-width: 1440px) {
  .jd__container .jd__body .description .description__header {
    font-size: 3.4rem;
  }
}
.jd__container .jd__body .description .under {
  text-decoration: underline;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.7rem;
  color: #000000;
}
.jd__container .jd__body .list {
  font-size: 1.8rem;
  font-weight: 400;
  list-style-position: outside;
  padding-left: 2rem;
  width: 100%;
  color: #6b6b6b;
}
.jd__container .jd__body .list #email {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.jd__container .jd__body .list > li {
  padding: 0.2rem;
}
@media (min-width: 768px) {
  .jd__container .jd__body .list {
    font-size: 2rem;
  }
  .jd__container .jd__body .list li {
    font-size: 1.8rem;
  }
}
@media (min-width: 1024px) {
  .jd__container .jd__body .list {
    font-size: 2.2rem;
  }
}
@media (min-width: 1280px) {
  .jd__container .jd__body .list {
    font-size: 2.4rem;
  }
}
@media (min-width: 1440px) {
  .jd__container .jd__body .list {
    font-size: 2.6rem;
  }
}
.jd__container .jd__body hr {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  width: 70vw;
}
.jd__container .jd__body > div:last-child {
  gap: 3.4rem;
}
.jd__container .jd__body .general__info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.jd__container .jd__body .about {
  display: flex;
  flex-direction: column;
}
.jd__container .jd__body .about .contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: start;
}
.jd__container .jd__body .about .contact img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.jd__container .jd__body .about .contact .contact__name,
.jd__container .jd__body .about .contact .contact__person {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.jd__container .jd__body .about .contact .contact__role {
  font-weight: 400;
  font-size: 1.8rem;
  color: #6b6b6b;
}
.jd__container .jd__body .about .general__info .contact__name,
.jd__container .jd__body .about .general__info .contact__person {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-decoration: underline;
}
.jd__container .jd__apply {
  display: flex;
  justify-content: center;
  width: 100%;
}
.jd__container .jd__apply .applyBtn {
  background-color: #2f7973;
  border: none;
  border-radius: 0.8rem;
  padding: 1.2rem 3.2rem;
  color: #f3f3f3;
  font-size: 1.8rem;
  font-weight: 500;
  height: 5rem;
  align-self: flex-end;
  cursor: pointer;
}
.jd__container .jd__apply .applyBtn:hover {
  transition: all 0.3s;
  background-color: #1e524e;
}

.details-footer-container {
  padding: 0;
  width: 100%;
}
.details-footer-container .details-footer-line {
  border-top: solid 0.1rem rgba(107, 107, 107, 0.1882352941);
  margin-bottom: 0;
  margin-top: 2rem;
  max-width: 100%;
}
.details-footer-container .details-footer-bottom {
  font-size: 1.4rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}/*# sourceMappingURL=style.css.map */