@import "utils/_colors.scss";
@import "utils/typography";
@import "utils/reset";

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: $white;
  z-index: 99;
  max-width: 1440px;
  width: 100%;
  padding: 0 3rem;
  height: auto;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__title {
      font-weight: 700;
      font-size: 2rem;
      color: $black;
    }
  }
}

.nav-bottom-border {
  border-bottom: 1px solid $light-white;
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;

    &__nav.active {
      border-bottom: 3px solid $green-mint;
    }
  }

  // style for the page nav bar active link:

  &__list > li > a {
    text-decoration: none;
    color: $black;
    font-size: 1.6rem;

    &:hover {
      color: $dark-gray;
      transition: all 0.3s ease;
    }

    // we will add something like border-bottom: 2px solid $mint for the selected state in the future.
  }
}

.btn--green {
  background-color: $green-mint;
}

.join-btn {
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  color: $white;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    transition: all 0.3s;
    background-color: $dark-mint;
  }
}

// Hero section

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0 31rem 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)),
    url("../assets/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;

    &__title {
      font-size: 4.4rem;
      font-weight: 500;
      line-height: 5.4rem;
      text-align: center;
      text-transform: uppercase;
    }

    &__description {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      text-align: center;
      padding: 0 37rem;

      a {
        font-weight: bold;
        color: $green-mint;
      }
    }

    &__btn {
      padding: 1.6rem 3.2rem;
      border-radius: 0.8rem;
      color: $white;
      border: none;
      background-color: $green-mint;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        transition: all 0.3s;
        background-color: $dark-mint;
      }
    }
  }
}

// Our mission section

.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13.5rem;
  padding-bottom: 14rem;

  &__content {
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 7rem 0;
    }

    &__title > h2 {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 3.6rem;
      text-align: center;
      color: $black;
    }

    &__details {
      display: flex;
      align-items: center;
      gap: 12.4rem;

      .description {
        width: 47.5rem;
        position: relative;

        p {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.2rem;
          text-align: left;
          margin-bottom: 1.8rem;
        }

        img {
          transform: rotate(180deg);
          position: absolute;
          right: 0;
        }
      }

      .search-engine {
        width: 52rem;
        height: 37.5rem;
        padding: 1rem;

        & iframe {
          transform: scale(0.75);
          transform-origin: 0 0;
        }
      }
    }
  }
}

// how-contribute section

.how-contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $greyish-white;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.2rem 0;

    & h2 {
      font-size: 3.2rem;
      font-weight: 400;
    }

    & img {
      transform: scale(1.3, 0.9);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 42rem;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 4.2rem;
  }

  &__jobs {
    display: flex;
    gap: 5.2rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 7rem;
    position: relative;

    #arrow-left {
      position: absolute;
      top: 13rem;
      left: -10rem;
      cursor: pointer;
      transform: scale(0.7);

      &:hover {
        filter: invert(50%);
      }

      // to add in the future rule for disabled arrow filter: contrast(20%);
    }

    #arrow-right {
      position: absolute;
      top: 13rem;
      right: -10rem;
      transform: rotate(180deg) scale(0.7);
      cursor: pointer;

      &:hover {
        filter: invert(50%);
      }
    }
  }

  &__job {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;
    padding-bottom: 4rem;
    background-color: #fff;

    & img {
      width: 25rem;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      padding-left: 2.4rem;

      & h3 {
        font-size: 1.8rem;
        font-weight: 400;
      }

      & a {
        font-size: 1.4rem;
      }
    }
  }
}

// Why contribute section

.why-contribute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.2rem 0;
  }

  & h2 {
    font-size: 3.2rem;
    font-weight: 400;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 4.2rem;
  }

  &__reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25rem;
    padding-top: 0;
    padding-bottom: 15rem;

    &__reason {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5rem;

      & p {
        font-size: 2rem;
        text-align: center;
        padding-top: 1.5rem;
      }
    }
  }
}

// Team section

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 34rem;
  gap: 3.5rem;
  background-color: $white;

  & h2 {
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    color: $black;
    margin-bottom: -0.5rem;
  }

  &-line {
    transform: scale(0.6);
  }

  & p {
    font-size: 1.6rem;
    line-height: 130%;
    text-align: center;
  }

  &__members {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 6rem;
    padding-bottom: 3rem;
  }

  &__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    &-img {
      width: 16rem;
      height: 16rem;
      object-fit: cover;
      border-radius: 50%;
    }

    & h4 {
      font-size: 2rem;
      font-weight: 500;
    }

    & p {
      font-size: 1.6rem;
    }

    &__socials {
      display: flex;
      gap: 1.6rem;
      align-items: center;
      justify-content: center;

      & img:hover {
        transform: all 0.2s;
        filter: invert(41%) sepia(45%) saturate(514%) hue-rotate(126deg) brightness(89%) contrast(88%);
      }
    }
  }
}

// thank-section

.thank-section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15rem 0;

  &__final-logo {
    padding-bottom: 3rem;
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding-left: 42rem;
    padding-right: 42rem;
  }
}

// join-us-section

.join-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 10rem;
  background-color: $greyish-white;

  & h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
    padding: 3rem 0;
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 30rem 8rem 30rem;
  }

  &__button {
    padding: 1rem 3.2rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: $green-mint;

    &:hover {
      transition: all 0.3s;
      background-color: $dark-mint;
    }
  }
}

footer {
  padding: 11.2rem 22rem 2.7rem 22rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  // Here for the footer navigation links the style has been inherited form the nav
  // links form the header nav__links in order to avoid code duplication.

  .footer-navigation {
    padding-bottom: 5.65rem;
  }

  hr {
    height: 0;
    border: none;
    border-top: 1px solid $black;
    width: 100%;
    max-width: 100rem;
    margin-bottom: 5.5rem;
  }

  .footer-social {
    &__links {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;
      margin-bottom: 5rem;

      li {
        cursor: pointer;
      }

      li a img {
        width: 4rem;
        height: 4rem;
      }

      li a img:hover {
        filter: invert(44%) sepia(9%) saturate(2875%) hue-rotate(126deg) brightness(85%) contrast(77%);
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      padding: 1rem;
      font-size: 1.9rem;
    }

    h4 {
      font-size: 2rem;
    }
  }
}

.top-redirect-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  z-index: 99;
  right: 28rem;
  top: 80rem;

  img {
    width: 5rem;
    height: 5rem;
  }

  img:hover {
    filter: invert(44%) sepia(9%) saturate(2875%) hue-rotate(126deg) brightness(85%) contrast(77%);
  }
}
