/* Global Imports */

* {
    border: 1px solid red !important; /* Helps visualize all elements */
  }
@import "utils/_colors.scss";
@import "utils/typography";
@import "utils/reset";
@import "utils/breakpoints";
@import "scss/_header";
@import "scss/_intro";
@import "scss/_hero";
@import "scss/_our-mission";
@import "scss/_how-contribute";
@import "scss/_why-contribute";
@import "scss/_team";
@import "scss/_stories";
@import "scss/_thank-section";
@import "scss/_join-us-section";
@import "scss/_footer";
@import "scss/_details";
@import "scss/_404";
