@import "./typography";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: $roboto;
}

a {
    color: inherit;
    text-decoration: none;
}