$scale-desktop: 0.75;
$scale-laptop: 0.50;
$scale-tablet: 0.375;

.main-container-error{
  width: 100%;
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.phone-image{
  padding-top: 2%;
  background-size: cover;
  background-repeat: no-repeat;
  height:30%;
  width:30%;
  position: relative;
}
.vector-line{
  height:20%;
  width:80%;
  margin-top: -1%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header-first{
  font-size: 88px;
  font-family: Roboto, serif;
  position: relative;
  @media(max-width: $desktop-size){
    font-size: 88px * $scale-desktop;

  }
  @media(max-width: $laptop-size){
    font-size: 88px * $scale-laptop;
  }
  @media(max-width: $tablet-size){
    font-size: 88px * $scale-tablet;
  }
}
.normal-p{
  font-size: 24px;
  font-family: Roboto, serif;
  position: relative;
  margin:1rem;
  @media(max-width: $desktop-size){
    font-size: 24px * $scale-desktop;
    margin-left: 2rem;
    margin-right: 2rem;
  }

}
.redirect-btn{
  margin-top: 3%;
  padding:2rem;
  min-width:20%;
  color:white;
  background-color: $green-mint;
  border: none;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  transition: background-color 0.3s;
  position: relative;
}
.redirect-btn:hover{
  background-color: $dark-mint;
  position: relative;
}
.space{
  margin-top: 8rem;
}