$scale-desktop: 0.75;
$scale-laptop: 0.5;
$scale-tablet: 0.375;

.nav {
  position: fixed;
  z-index: 10;
}

.main-container-error {
  margin-top: 2rem;
  width: 100%;
  min-height: 80vh;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6rem;

  button {
    margin-top: 3rem;
  }
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.phone-image {
  padding-top: 2%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30%;
  width: 30%;
  position: relative;
}

.normal-p {
  font-size: 24px;
  font-family: Roboto, serif;
  position: relative;
  margin: 1rem;
  @media (max-width: $desktop-size) {
    font-size: 24px * $scale-desktop;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 426px) {
  .main-container-error {
    min-height: 60vh;
    margin-bottom: 4rem;
  }
}
