.main {
  box-shadow: 0 0.1rem 1.8rem 0 rgba($dark-gray, 0.35);
  margin: 12rem 2rem 2rem;
  border-radius: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;

  @media (max-width: $tablet-size) {
    margin-top: 10rem;
  }

  @media (min-width: $tablet-size) {
    row-gap: 0;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
  }

  @media (min-width: $laptop-size) {
    padding-bottom: 5rem;
  }

  @media (min-width: $desktop-size) {
    padding-bottom: 6rem;
  }

  @media (min-width: $desktop-xxl-size) {
    padding-bottom: 7rem;
  }
}
.responsabilities h2,
.offerings h2,
.demands h2 {
  padding-bottom: 1.2rem;
}

.back__wrapper {
  display: flex;
  align-items: center;
  margin-left: 2rem;

  a {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #000000;
  }

  @media (min-width: $tablet-size) {
    margin: 1rem 3rem;
  }

  @media (min-width: $laptop-size) {
    margin: 1rem 4rem;
  }

  @media (min-width: $desktop-size) {
    margin: 1rem 5rem;
  }

  @media (min-width: $desktop-xxl-size) {
    margin: 1rem 6rem;
  }
}

.jd__header {
  position: relative;
}

.jd__volunteer {
  transform: scale(0.7);
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@media (max-width: 767px) {
  .jd__volunteer {
    transform: scale(0.7);
    bottom: 7rem;
    top: 25%;
  }
}

@media (max-width: 640px) {
  .jd__volunteer {
    transform: scale(0.6);
    bottom: 14rem;
    top: auto;
  }
}

@media (max-width: 530px) {
  .jd__volunteer {
    transform: scale(0.4);
    right: -4rem;
  }
}

@media (max-width: 450px) {
  .jd__volunteer {
    transform: scale(0.4);
    right: -4rem;
    bottom: 19rem;
  }
}

@media (max-width: 320px) {
  .jd__volunteer {
    transform: scale(0.3);
    right: -6rem;
  }
}

.jd__container {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;

  @media (min-width: $tablet-size) {
    margin: 0 3rem;

    .jd__apply {
      width: 13rem;
    }
  }

  @media (min-width: $laptop-size) {
    margin: 0 4rem;
  }

  @media (min-width: $desktop-size) {
    margin: 0 5rem;
  }

  @media (min-width: $desktop-xxl-size) {
    margin: 0 6rem;
  }

  .jd__header {
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
    font-size: 1.6rem;
  }

  .jd__main {
    border: 0.1rem solid rgba($black, 0.2);
    border-radius: 1.6rem;
    padding: 2.4rem 2.8rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.7rem;
      color: $green-mint;

      @media (min-width: $tablet-size) {
        font-size: 4rem;
      }

      @media (min-width: $laptop-size) {
        font-size: 4.4rem;
      }

      @media (min-width: $desktop-size) {
        font-size: 4.8rem;
      }

      @media (min-width: $desktop-xxl-size) {
        font-size: 5.2rem;
      }
    }

    .title__details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;

      .employer {
        color: $dark-gray;
        font-size: 2rem;

        @media (min-width: $tablet-size) {
          font-size: 2rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 2.2rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 2.4rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 2.6rem;
        }
      }

      .departament {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $black;

        @media (min-width: $tablet-size) {
          font-size: 2rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 2.2rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 2.4rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 2.6rem;
        }
      }
    }

    .subtitles {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      justify-content: space-between;

      @media (min-width: $tablet-size) {
        flex-direction: row;
        gap: 10rem;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .item {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          color: $dark-gray;

          .img {
            stroke: $dark-gray;
            fill: $dark-gray;
          }
        }
      }
    }
  }

  .jd__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .description {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      > div {
        gap: 1.2rem;
      }

      > p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $dark-gray;
      }

      .description__header {
        font-size: 2.2rem;
        line-height: 3.3rem;
        color: $black;

        @media (min-width: $tablet-size) {
          font-size: 2.8rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 3rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 3.2rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 3.4rem;
        }
      }

      .under {
        text-decoration: underline;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: $black;
      }
    }

    .description,
    .responsabilities,
    .demands,
    .offerings,
    .general__info,
    .about {
      h2 {
        font-size: 2.2rem;
        line-height: 3.3rem;
        color: $black;

        @media (min-width: $tablet-size) {
          font-size: 2.8rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 3rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 3.2rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 3.4rem;
        }
      }
    }

    .list {
      font-size: 1.8rem;
      font-weight: 400;
      list-style-position: outside;
      padding-left: 2rem;
      width: 100%;
      color: $dark-gray;
      line-height: 2.4rem;

      #email {
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;

        #copy-email{
          position: relative;
          display: inline-block;
          width: 14px;
          height: 15px;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 18H8V7h11v16z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          cursor: pointer;

          &:hover{
            &::after{
              content: "Copy email";
              font-size: 14px;
              position: absolute;
              white-space: nowrap;
              top: -40px;
              left: 50%;
              transform: translateX(-50%);
              width: auto;
              height: auto;
              padding: 4px 12px;
              border-radius: .6rem;
              background: $darker-gray;
              color: $white-smoke;
              z-index: 2;
            }

            &::before{
              content: "";
              position: absolute;
              width: 14px;
              height: 14px;
              top: -18px;
              left: 50%;
              transform: translateX(-50%) rotate(45deg);
              background: $darker-gray;
            }
          }

          &.clicked:hover::after{
              content: "Copied";
          }
        }
      }

      > li {
        padding: 0.2rem;
      }

      @media (min-width: $tablet-size) {
        font-size: 2rem;
        li {
          font-size: 1.8rem;
        }
      }

      @media (min-width: $laptop-size) {
        font-size: 2.2rem;
      }

      @media (min-width: $desktop-size) {
        font-size: 2.4rem;
      }

      @media (min-width: $desktop-xxl-size) {
        font-size: 2.6rem;
      }
    }

    > div:last-child {
      gap: 3.4rem;
    }

    .general__info {
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid rgba($black, 0.2);
      padding-bottom: 1.5rem;
      gap: 1.2rem;
    }

    .about {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: start;

        .contact-profile {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
          & img {
            height: 120px;
            width: 120px;
            border-radius: 50%;
            object-fit: cover;
          }
          .employer-socials {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;

            span {
              width: auto;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              border: 2px solid transparent;
              transition: all 0.2s ease-in-out;

              &:hover {
                background-color: #ededed;
                box-shadow: 2px 2px 6px #00000020, -2px -2px 12px $white;
              }

              a {
                width: 36px;
                height: 36px;
                color: $white;
                border-radius: 50%;
                background-color: $darker-gray;
                mask-size: 32px 32px;
                mask-repeat: no-repeat;
                mask-position: center;
                transition: all 0.2s ease-in-out;
              }

              &:nth-child(1) a {
                mask-size: 28px 28px;
                mask-image: url("../assets/social-media-icons/contributor-linkedIn-icon.svg");
              }

              &:nth-child(2) a {
                mask-image: url("../assets/social-media-icons/contributor-github-icon.svg");
              }

              &:nth-child(3) a {
                mask-image: url("../assets/social-media-icons/contributor-discord-icon.svg");
              }

              &:nth-child(1):hover a {
                background-color: $linkedin-blue;
              }

              &:nth-child(2):hover a {
                background-color: $black;
              }

              &:nth-child(3):hover a {
                background-color: $discord-purple;
              }
            }
          }
        }

        .contact__name,
        .contact__person {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.7rem;
        }

        .contact__role {
          font-weight: 400;
          font-size: 1.7rem;
          color: $dark-gray;
        }

        @media screen and (max-width: 520px) {
          justify-content: center;
        }
      }

      .general__info {
        .contact__name,
        .contact__person {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.7rem;
          text-decoration: underline;
        }
      }

      @media screen and (max-width: $tablet-size) {
        justify-content: center;
      }
    }
  }

  .cta-btn-group {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    button {
      padding: 1.2rem 3.2rem;
      width: 100%;
    }
  }
}

.details-footer-container {
  padding: 0;
  width: 100%;
  gap: 0;

  .details-footer-line {
    border-top: solid 0.1rem #6b6b6b30;
    margin-bottom: 0;
    margin-top: 2rem;
    max-width: 100%;
  }

  .details-footer-bottom {
    font-size: 1.4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

#top-redirect-details-page {
  right: 4vw;
  bottom: 0.2vh;
  @media (min-width: $laptop-size) and (max-width: $desktop-xxl-size) {
    right: 2vw;
  }

  @media (min-width: 769px) and (max-width: $laptop-size) {
    right: 2.6vw;
  }

  @media (min-width: 500px) and (max-width: $tablet-size) {
    right: 4.2vw;
  }

  @media (min-width: $phone-size) and (max-width: 500px) {
    right: 5.6vw;
  }
}
