.main {
  box-shadow: 0 0.1rem 1.8rem 0 rgba($dark-gray, 0.35);
  margin: 12rem 2rem 2rem;
  border-radius: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;



  @media (min-width: $tablet-size) {
    row-gap: 0;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
  }

  @media (min-width: $laptop-size) {
    padding-bottom: 5rem;
  }

  @media (min-width: $desktop-size) {
    padding-bottom: 6rem;
  }

  @media (min-width: $desktop-xxl-size) {
    padding-bottom: 7rem;
  }
}
.responsabilities h2,
.offerings h2,
.demands h2 {
  padding-bottom: 1.2rem;
}

.back__wrapper {
  display: flex;
  align-items: center;
  margin-left: 2rem;

  a {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #000000;
  }

  @media (min-width: $tablet-size) {
    margin: 1rem 3rem;
  }

  @media (min-width: $laptop-size) {
    margin: 1rem 4rem;
  }

  @media (min-width: $desktop-size) {
    margin: 1rem 5rem;
  }

  @media (min-width: $desktop-xxl-size) {
    margin: 1rem 6rem;
  }
}

.jd__container {
  gap: 3rem;
  display: flex;
  flex-direction: column;
  margin: 0 2rem;

  @media (min-width: $tablet-size) {
    margin: 0 3rem;

    .jd__apply {
      width: 13rem;
    }
  }

  @media (min-width: $laptop-size) {
    margin: 0 4rem;
  }

  @media (min-width: $desktop-size) {
    margin: 0 5rem;
  }

  @media (min-width: $desktop-xxl-size) {
    margin: 0 6rem;
  }

  .jd__header {
    display: flex;
    flex-direction: column;
    gap: 5.4rem;
    font-size: 1.6rem;
  }

  .jd__main {
    border: 0.1rem solid rgba($black, 0.2);
    border-radius: 1.6rem;
    padding: 2.4rem 2.8rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 4.7rem;
      color: $green-mint;

      @media (min-width: $tablet-size) {
        font-size: 4rem;
      }

      @media (min-width: $laptop-size) {
        font-size: 4.4rem;
      }

      @media (min-width: $desktop-size) {
        font-size: 4.8rem;
      }

      @media (min-width: $desktop-xxl-size) {
        font-size: 5.2rem;
      }
    }

    .title__details {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;

      .employer {
        color: $dark-gray;
        font-size: 2rem;

        @media (min-width: $tablet-size) {
          font-size: 2rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 2.2rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 2.4rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 2.6rem;
        }
      }

      .departament {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $black;

        @media (min-width: $tablet-size) {
          font-size: 2rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 2.2rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 2.4rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 2.6rem;
        }
      }
    }

    .subtitles {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: space-between;

      @media (min-width: $tablet-size) {
        flex-direction: row;
        gap: 3rem;

        .applyBtn {
          width: auto;
        }
      }

      @media (min-width: $laptop-size) {
        gap: 4rem;
      }

      @media (min-width: $desktop-size) {
        gap: 5rem;
      }

      @media (min-width: $desktop-xxl-size) {
        gap: 6rem;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .item {
          display: flex;
          align-items: center;
          gap: 0.6rem;
          color: $dark-gray;

          .img {
            stroke: $dark-gray;
            fill: $dark-gray;
          }
        }
      }

      .applyBtn {
        background-color: $green-mint;
        border: none;
        border-radius: 0.8rem;
        padding: 1.2rem 3.2rem;
        color: $white;
        font-size: 1.8rem;
        font-weight: 600;
        width: 100%;
        align-self: flex-end;
        cursor: pointer;

        &:hover {
          transition: all 0.3s;
          background-color: $dark-mint;
        }

        @media (min-width: $tablet-size) {
          width: auto;
        }
      }
    }
  }

  .jd__body {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .description {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      > div {
        gap: 1.2rem;
      }

      > p {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: $dark-gray;
      }

      .description__header {
        font-size: 2.2rem;
        line-height: 3.3rem;
        color: $black;

        @media (min-width: $tablet-size) {
          font-size: 2.8rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 3rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 3.2rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 3.4rem;
        }
      }

      .under {
        text-decoration: underline;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: $black;
      }
    }

    .description,
    .responsabilities,
    .demands,
    .offerings,
    .general__info,
    .about {
      h2 {
        font-size: 2.2rem;
        line-height: 3.3rem;
        color: $black;

        @media (min-width: $tablet-size) {
          font-size: 2.8rem;
        }

        @media (min-width: $laptop-size) {
          font-size: 3rem;
        }

        @media (min-width: $desktop-size) {
          font-size: 3.2rem;
        }

        @media (min-width: $desktop-xxl-size) {
          font-size: 3.4rem;
        }
      }
    }

    .list {
      font-size: 1.8rem;
      font-weight: 400;
      list-style-position: outside;
      padding-left: 2rem;
      width: 100%;
      color: $dark-gray;
      line-height: 2.4rem;

      #email {
        width: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        hyphens: auto;
      }

      > li {
        padding: 0.2rem;
      }

      @media (min-width: $tablet-size) {
        font-size: 2rem;
        li {
          font-size: 1.8rem;
        }
      }

      @media (min-width: $laptop-size) {
        font-size: 2.2rem;
      }

      @media (min-width: $desktop-size) {
        font-size: 2.4rem;
      }

      @media (min-width: $desktop-xxl-size) {
        font-size: 2.6rem;
      }
    }

    hr {
      border: 0.1rem solid rgba($black, 0.2);
      width: 70vw;
    }

    > div:last-child {
      gap: 3.4rem;
    }

    .general__info {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    .about {
      display: flex;
      flex-direction: column;

      .contact {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        align-items: start;

        & img {
          height: 100px;
          width: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

        .contact__name,
        .contact__person {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.7rem;
        }

        .contact__role {
          font-weight: 400;
          font-size: 1.8rem;
          color: $dark-gray;
        }
      }

      .general__info {
        .contact__name,
        .contact__person {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.7rem;
          text-decoration: underline;
        }
      }
    }
  }

  .jd__apply {
    display: flex;
    justify-content: center;
    width: 100%;

    .applyBtn {
      background-color: $green-mint;
      border: none;
      border-radius: 0.8rem;
      padding: 1.2rem 3.2rem;
      color: $white;
      font-size: 1.8rem;
      font-weight: 600;
      align-self: flex-end;
      cursor: pointer;
      width: 100%;

      &:hover {
        transition: all 0.3s;
        background-color: $dark-mint;
      }

      @media (min-width: $tablet-size) {
        width: auto;
      }
    }
  }
}

.details-footer-container {
  padding: 0;
  width: 100%;
  gap: 0;

  .details-footer-line {
    border-top: solid 0.1rem #6b6b6b30;
    margin-bottom: 0;
    margin-top: 2rem;
    max-width: 100%;
  }

  .details-footer-bottom {
    font-size: 1.4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

#top-redirect-details-page {
  right: 4vw;
  bottom: 0.2vh;
  @media (min-width: $laptop-size) and (max-width: $desktop-xxl-size) {
    right: 2vw;
  }

  @media (min-width: 769px) and (max-width: $laptop-size){
    right: 2.6vw;
  }

  @media (min-width: 500px) and  (max-width: $tablet-size) {
    right: 4.2vw;
  }

  @media (min-width: $phone-size) and (max-width: 500px) {
    right: 5.6vw;
  }
}