/* FOOTER SECTION */
/* styles for tooltip - footer links*/
.tippy-box[data-theme~="tooltip-footer-theme"] {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translate(0, 10%);

  .tippy-arrow {
    color: #000000;
  }
}

.footer {
  padding: 7.2rem 3.2rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4.8rem;
  grid-template-areas:
    "logo"
    "navigation"
    "social-media"
    "info-link";

  ul {
    list-style: none;
  }

  // Footer logo section
  &__logo {
    grid-area: logo;
    @include flex(column, center, start);
    gap: 0.6rem;
    border-bottom: 1px solid $gray;
    padding-bottom: 3.6rem;
    a {
      h2 {
        font-size: 3.2rem;

        &:first-child {
          font-family: "Gelasio";
          color: $dark-teal;
        }
        &:nth-child(2) {
          color: $dark-blue;
        }
      }
    }

    // Trademark year
    p {
      color: $dark-gray;
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  // Footer navigation section
  &__navigation {
    grid-area: navigation;
    @include flex(row, flex-start);
    ul {
      @include flex(column, start, start);
      row-gap: 1.8rem;
      flex-wrap: wrap;

      li {
        a {
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }

  // Footer social media section
  &__social {
    grid-area: social-media;

    ul {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      gap: 1.8rem;

      li {
        a {
          width: 4.4rem;
          height: 4.4rem;
          @include flex(row, center, center);
          border-radius: 50%;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #ededed;
            box-shadow: 2px 2px 6px #00000020, -2px -2px 12px #f3f3f3;
          }
          img {
            width: 3.2rem;
            height: 3.2rem;
          }
        }
      }
    }
  }

  // Footer info section
  &__info-links {
    grid-area: info-link;
    @include flex(row, flex-start, center);

    ul {
      @include flex(row, flex-start, center);
      flex-wrap: wrap;
      gap: 1.8rem;

      li {
        border-right: 1px solid $dark-gray;
        padding-right: 1.8rem;

        &:last-child {
          border-right: none;
          padding-right: 0;
        }

        a {
          font-size: 1.6rem;
          color: $dark-gray;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet-size) {
  .footer {
    padding: 8.4rem 3rem 4.2rem 3rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "logo navigation"
      "social-media info-link";

    &__logo {
      border-bottom: none;
      padding-bottom: 0;
    }

    &__navigation {
      justify-content: flex-end;

      ul {
        flex-direction: row;
        column-gap: 1.8rem;
        max-width: 34rem;
        height: 11rem;

        li {
          width: calc(50% - 1.8rem); // two columns

          a {
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $dark-gray;
            }
          }
        }
      }
    }

    &__info-links {
      grid-area: info-link;
      justify-content: flex-end;

      ul {
        justify-content: flex-end;

        li {
          a {
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }
}
