/* FOOTER SECTION */
footer {
  padding: 11.2rem 8rem 2.7rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;

  // Footer navigation links inherit styles from header nav links to avoid duplication.

  .footer-navigation {
    & nav {
      background-color: white;
      & ul {
        background-color: white;
      }
    }
  }

  hr {
    height: 0;
    border: none;
    border-top: 1px solid $black;
    width: 100%;
    max-width: 100rem;
  }

  .footer-social {
    &__links {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;

      li {
        cursor: pointer;
      }

      li a img {
        width: 4rem;
        height: 4rem;
      }

      li a img:hover {
        filter: invert(44%) sepia(9%) saturate(2875%) hue-rotate(126deg)
          brightness(85%) contrast(77%);
      }
    }
  }

  .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      padding: 1rem;
      font-size: 1.9rem;
    }

    h4 {
      font-size: 2rem;
    }
  }
}

.top-redirect-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  z-index: 99;
  right: 2vw;
  bottom: 2vh;

  img {
    width: 5rem;
    height: 5rem;
  }

  img:hover {
    filter: invert(44%) sepia(9%) saturate(2875%) hue-rotate(126deg)
      brightness(85%) contrast(77%);
  }
}

// Mobile size
@media (max-width: $phone-size) {
  footer {
    padding: 0 1.5rem;
    gap: 1.5rem;

    hr {
      width: 100%;
      max-width: 14.93rem;
    }

    .footer-bottom {
      p {
        font-size: 0.87rem;
      }

      h4 {
        font-size: 0.87rem;
      }
    }

    .footer-social {
      &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 0.68rem 1.5rem;
        max-width: 9.25rem;

        li {
          a {
            img {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }

  .footer-navigation {
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.87rem;
      li {
        a {
          font-size: 0.87rem;
        }
      }
    }
  }

  .top-redirect-btn {
    right: 7vw;
    bottom: 2vh;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

// Tablet size
@media (min-width: 321px) and (max-width: $tablet-size) {
  footer {
    padding: 0 5.3rem;
    gap: 2rem;

    hr {
      max-width: 33.12rem;
    }

    .footer-bottom {
      padding-bottom: 1.5rem;
      p {
        font-size: 1.2rem;
      }

      h4 {
        font-size: 1.6rem;
      }
    }

    .footer-social {
      &__links {
        max-width: 100%;
        gap: 0.87rem;

        li {
          a {
            img {
              width: 2.5rem;
              height: 2.5rem;
            }
          }
        }
      }
    }
  }

  .footer-navigation {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }

  .top-redirect-btn {
    img {
      width: 4rem;
      height: 4rem;
    }
  }
}

// Laptop size
@media (min-width: 769px) and (max-width: $laptop-size) {
  footer {
    padding: 0 5.3rem;
    gap: 2.4rem;

    hr {
      max-width: 100%;
    }
    .footer-social {
      &__links {
        max-width: 100%;
        flex-direction: row;
        gap: 2.4rem;

        li {
          cursor: pointer;
        }

        li a img {
          width: 4rem;
          height: 4rem;
        }
      }
    }

    .footer-bottom {
      padding-bottom: 2.18rem;

      p {
        padding: 1rem;
        font-size: 1.9rem;
      }

      h4 {
        font-size: 2rem;
      }
    }
  }

  .footer-navigation {
    ul {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      li {
        a {
          font-size: 1.5rem;
        }
      }
    }
  }

  .top-redirect-btn {
    right: 2vw;
    bottom: 2vh;

    img {
      width: 5rem;
      height: 5rem;
    }
  }
}
