/* HEADER SECTION */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* NAVIGATION SECTION */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: $white-smoke;
  z-index: 99;
  padding: 1rem 3rem; // Changed top and bottom padding to 1rem from 0
  width: clamp(
    320px,
    100%,
    1440px
  ); // Added width clamp to remove max-width and width lines
  height: auto;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0;
    position: relative;


    &__title {
      display: none;
      font-weight: 700;
      font-size: 2rem;
      color: $black;
    }
  & .visible-title {
    display: block;
  }

  & .img-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-flex;
    width: 60px;
    height: 60px;
  }
  }

  // Hide logo while on intro section
}

.hamburger-menu {
  margin: auto 0 auto auto;
}

.nav-bottom-border {
  // border-bottom: 1px solid $light-white;
  // Changed border effect to elevation effect
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 
  0px 5px 8px rgba(0, 0, 0, 0.14), 
  0px 1px 14px rgba(0, 0, 0, 0.12);
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //   padding: 1rem; // Added padding to parent element instead

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;

    .active {
      border-bottom: 3px solid $green-mint;
    }

    & > li > a {
      text-decoration: none;
      color: $black;
      font-size: 1.6rem;

      &:hover {
        color: $dark-gray;
        transition: all 0.3s ease;
      }
    }
    // we will add something like border-bottom: 2px solid $mint for the selected state in the future.
  }
}
#our-mission,
#how-contribute,
#why-contribute,
#team {
  scroll-margin-top: 100px;
}

.responsive-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  .nav {
    display: block;

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }


  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    display: block;
    padding: 0 3rem;

    &__logo {
    & .img-logo {
      display: none;
    }
    }

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    // In order for the logo to be hidden until scrolling after a certain treshold
    // Remove following &__logo part of the code
    &__logo {
      display: block;
      margin-top: 25px;

      // Remove the following &__title part of the code
      // If you want the title to show
      &__title {
        display: inline-block;
        width: 70px;
        height: 70px;
        background-image: url("../assets/logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        text-indent: -9999px; /* Move the text off-screen */
      }

    }
  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    display: block;

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    // &__logo {
    //   display: block;
    //   margin-top: 25px;
    // }
  }


  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1023px) {


  .hamburger-menu-icon {
    display: none;
  }

  .close-menu-icon {
    display: none;
  }
}

.join-btn {
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  color: $white;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    transition: all 0.3s;
    background-color: $dark-mint;
  }
}

.btn--green {
  background-color: $green-mint;
}

@media only screen and (max-width: 1025px) {

}