/* HEADER SECTION */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#icon-hamburger,
#icon-close {
  background-color: transparent;
}

/* NAVIGATION SECTION */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background-color: $white-smoke;
  z-index: 99;
  padding: 1rem 2rem;
  width: clamp(320px, 100%, 1440px);
  height: auto;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0;
    position: relative;

    &__title {
      font-weight: 700;
      font-size: 2rem;
      color: $dark-blue;
      transition: all 0.2s ease;
    }
    & .title-mint {
      font-family: $gelasio;
      color: $dark-teal;
      font-size: 1.8rem;
    }
    & .hidden-title {
      opacity: 0;
    }
    & .visible-title {
      opacity: 1;
    }

    & .img-logo {
      margin-right: 0.5rem;
      width: 60px;
      height: 60px;
    }
  }

  & #socialLinks{
    display: none;
  }
  // Hide logo while on intro section
}

.nav-bottom-border {
  // border-bottom: 1px solid $light-white;
  // Changed border effect to elevation effect
  box-shadow: 0 8px 5px -4px rgba(0, 0, 0, 0.2),
    /* Top shadow */ 0 8px 8px -4px rgba(0, 0, 0, 0.14),
    /* Bottom shadow */ 0 8px 12px -4px rgba(0, 0, 0, 0.12);
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //   padding: 1rem; // Added padding to parent element instead

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;

    .active {
      border-bottom: 3px solid $green-mint;
    }

    & > li > a {
      text-decoration: none;
      color: $black;
      font-size: 1.6rem;
      font-weight: 500;

      &:hover {
        color: $dark-gray;
        transition: all 0.3s ease;
        // border-bottom: 2px solid $green-mint;
      }
    }
    // we will add something like border-bottom: 2px solid $mint for the selected state in the future.
  }
}
#our-mission,
#how-contribute,
#why-contribute,
#team {
  scroll-margin-top: 100px;
}

.responsive-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media only screen and (max-width: 640px) {
  .nav {
    display: block;

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    display: block;
    padding: 0 2rem;

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    &__logo {
      margin-top: 1rem;

      &__title {
        font-size: 1.7rem;
      }
      & .title-mint {
        font-size: 1.6rem;
      }
      & .img-logo {
        width: 50px;
        height: 50px;
      }
    }
  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav {
    display: block;

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    // &__logo {
    //   display: block;
    //   margin-top: 25px;
    // }
  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1023px) {
  .hamburger-menu-icon {
    display: none;
  }

  .close-menu-icon {
    display: none;
  }
}

.join-btn {
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  color: $white;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    transition: all 0.3s;
    background-color: $dark-mint;
  }
}

.btn--green {
  background-color: $green-mint;
}

@media screen and (min-width: $phone-size) and (max-width: $tablet-size) {
    .nav {
        &__links__list {
            display: none;
            height: calc(100vh - 60px);
            padding-top: 10rem;
            gap: 2rem;

            & li > a{
             font-size: 3rem;
             font-weight: 500;
            }
    
            & #socialLinks{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 0.6rem;
                column-gap: 1rem;
                list-style-type: none;
                margin-top: 6rem;
                // padding-top: 2rem;

                img {
                    width: 4rem;
                    height: 4rem;
                }
            }

            & #socialLinks > li > a:hover{
              border-bottom: 2px solid $green-mint;              
            }

            & .join-btn {
                font-size: 2.4rem;
            }
        }
    }
}

@media (max-width: $phone-size){
    .nav {
        &__links__list {
            padding-top: 7rem;
            gap: 1.8rem;
    
            & li > a{
              font-size: 2.6rem;
            }

            & #socialLinks{
              margin-top: 6rem;
              row-gap: 0.6rem;
              column-gap: 1.2rem;                   
            }

            & .join-btn {
                font-size: 2.2rem;
            }
        }
    }
}
