/* HEADER SECTION */
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  // position: sticky; // Position sticky does not work well with firefox
  position: fixed;
  top: 0;
  left: 50%; // Added left property in order to center the header for fixed position
  z-index: 1000;
}

.close-menu-icon,
.hamburger-menu-icon {
  background-color: $white-smoke;
}

/* NAVIGATION SECTION */
.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // position: fixed;

  background-color: $white-smoke;
  padding: 1rem 2rem;
  width: clamp(250px, 100%, 1440px);
  height: auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(
      to right,
      $ro-blue 0%,
      $ro-blue 33.33%,
      $ro-yellow 33.33%,
      $ro-yellow 66.66%,
      $ro-red 66.66%,
      $ro-red 100%
    );
    // filter: blur(2px);
    z-index: -1;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0;
    position: relative;

    &__title {
      font-weight: 700;
      font-size: 2rem;
      color: $dark-blue;
      transition: all 0.2s ease;
      inline-size: 25rem;
    }

    .logo-redirect {
      pointer-events: auto !important;
      cursor: pointer !important;
    }

    & .title-mint {
      font-family: $gelasio;
      color: $dark-teal;
      font-size: 1.8rem;
    }

    & .hidden-title {
      opacity: 0;
    }

    & .visible-title {
      opacity: 1;
    }

    & .img-logo {
      margin-right: 0.5rem;
      width: 60px;
      height: 60px;
    }
  }

  & #socialLinks {
    display: none;
  }
  // Hide logo while on intro section
}

.nav-bottom-border {
  // border-bottom: 1px solid $light-white;
  // Changed border effect to elevation effect
  box-shadow: 0 8px 5px -4px rgba(0, 0, 0, 0.2),
    /* Top shadow */ 0 8px 8px -4px rgba(0, 0, 0, 0.14),
    /* Bottom shadow */ 0 8px 12px -4px rgba(0, 0, 0, 0.12);
}

.nav__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //   padding: 1rem; // Added padding to parent element instead

  &__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;

    .active {
      border-bottom: 3px solid $green-mint;
    }

    & > li > a {
      text-decoration: none;
      color: $black;
      font-size: 1.6rem;
      font-weight: 500;

      &:hover {
        color: $dark-gray;
        transition: all 0.3s ease;
      }
    }
  }
}

#our-mission,
#how-contribute,
#why-contribute,
#team,
#schedule {
  scroll-margin-top: 50px;
}

.responsive-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 640px) {
  .nav {
    display: block;

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: black;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    display: block;
    padding: 0 2rem;

    &__links {
      background-color: #f3f3f3;
      margin-top: 10px;
    }

    &__links__list {
      display: none;
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: $green-mint;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    &__logo {
      margin-top: 1rem;

      &__title {
        font-size: 1.7rem;
        inline-size: 22rem;

        @media screen and (min-width: $phone-size) and (max-width: 351px) {
          inline-size: 20rem;
        }
      }
      & .title-mint {
        font-size: 1.6rem;
      }
      & .img-logo {
        width: 50px;
        height: 50px;
      }
    }
  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (min-width: $tablet-size) and (max-width: 1282px) {
  .nav {
    display: block;
    &__links__list {
      display: none;
      height: calc(100vh - 30px);
      gap: 2.2rem;
      background-color: $white-smoke;

      & li > a {
        font-size: 2.8rem;
        font-weight: 500;
      }

      & #socialLinks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2.4rem;
        column-gap: 3.2rem;
        list-style-type: none;
        margin-top: 6.4rem;

        img {
          width: 4.4rem;
          height: 4.4rem;
        }
      }

      & .join-btn {
        font-size: 2.8rem;
      }
    }

    &__links__list.show {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__links__list li > a {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        margin: -5px 0;
        background-color: $green-mint;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.4s ease-in-out 0s;
      }
      &:hover:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  .hamburger-menu-icon {
    display: block;
    margin-top: 18px;
    border: none;

    &.hidden {
      display: none;
    }

    > img {
      height: 35px;
    }
  }

  .close-menu-icon {
    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
      margin-top: 18px;
      border: none;

      > img {
        height: 25px;
      }
    }
  }
}

@media only screen and (min-width: 1283px) {
  .nav .nav__links .nav__links__list:first-of-type {
    li {
      min-width: fit-content;
    }
  }
  .hamburger-menu-icon {
    display: none;
  }

  .close-menu-icon {
    display: none;
  }
}

.join-btn {
  padding: 1rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  font-size: 1.6rem;
  color: $white;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    transition: all 0.3s;
    background-color: $dark-mint;
  }
}

.btn--green {
  background-color: $green-mint;
}

@media screen and (min-width: $phone-size) and (max-width: $tablet-size) {
  .nav {
    &__links__list {
      height: calc(100vh - 10px);
      gap: 2rem;
      background-color: $white-smoke;

      & li > a {
        font-size: 2.4rem;
      }

      & #socialLinks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2rem;
        column-gap: 3rem;
        list-style-type: none;
        margin-top: 6rem;

        img {
          width: 4rem;
          height: 4rem;
        }
      }

      & .join-btn {
        font-size: 2.4rem;
      }
    }
  }
}

@media (max-width: $phone-size) {
  .nav {
    &__links__list {
      padding-top: 2rem;
      gap: 1.8rem;

      & #socialLinks {
        margin-top: 6rem;
        row-gap: 1.6rem;
        column-gap: 2.6rem;
      }

      & .join-btn {
        font-size: 2.2rem;
      }
    }
  }
}

@media (min-width: $laptop-size) {
  #team > p {
    width: 860px;
  }
}
