/* HERO SECTION */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0 31rem 0;
  background: linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0)
    ),
    url("../assets/hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.6rem;

    &__title {
      font-size: 4.4rem;
      font-weight: 500;
      line-height: 5.4rem;
      text-align: center;
      text-transform: uppercase;
    }

    &__description {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.8rem;
      text-align: center;
      padding: 0 37rem;

      a {
        font-weight: bold;
        color: $green-mint;
      }
    }

    &__btn {
      padding: 1.6rem 3.2rem;
      border-radius: 0.8rem;
      color: $white;
      border: none;
      background-color: $green-mint;
      font-size: 1.6rem;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        transition: all 0.3s;
        background-color: $dark-mint;
      }
    }
  }
}

@media screen and (max-width: $phone-size) {
  .hero {
    max-height: 471px;
    padding-top: 63px;
    padding-left: 53px;
    padding-right: 53px;
    background-size: 280% 150%;
    background-position: bottom -35px right -115px;
    
    &__content {
      width: 245px;
      height: 236px;
      gap: 20px;
  
      &__title {
        width: 245px;
        color: $black;
        font-size: 20px;
        font-weight: 500;
        line-height: 112%;
        text-align: center;
      }
  
      &__description {
        width: 243px;
        height: 110px;
        font-size: 15px; 
        line-height: 22px;
        text-align: center;
        padding: 0px;
        text-align: center;
      }
  
      &__btn {
        width: 181px;
        height: 41px;
        padding: 12px 24px;
        border-radius: 8px;
        color: $white;
        background-color: $green-mint;
        font-size: 13px;
      }
    }
  }
}
