/* HOW CONTRIBUTE SECTION */
.how-contribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $greyish-white;
  position: relative;
  padding: 1rem 1rem 3rem;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0 3.5rem;

    h2 {
      font-size: 3.2rem;
      font-weight: 400;

      @media screen and (max-width: $tablet-size) {
        font-size: 2.2rem;
      }
    }

    img {
      width: 23rem;

      @media screen and (max-width: $tablet-size) {
        transform: scale(1, 1);
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 42rem;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 4.2rem;

    @media screen and (min-width: $laptop-size) and (max-width: $desktop-xxl-size) {
      padding: 1rem 22rem 4rem;
    }

    @media screen and (min-width: $tablet-size) and (max-width: $laptop-size) {
      padding: 1rem 3rem 9rem;
    }

    @media screen and (max-width: $tablet-size) {
      padding: 0 3rem 3rem;
    }

    @media screen and (max-width: $phone-size) {
      padding: 0 1rem 3rem;
    }
  }

  // Swiper style
  .swiper {
    width: 90%;
    max-width: 110rem;
    height: 40rem;
    display: flex !important;
    position: relative;

    .swiper-wrapper {
      display: flex;
      align-items: center;
      gap: 0;
      padding-bottom: 3rem;

      .swiper-slide {
        text-align: center;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        background-color: #fff;
        padding: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        height: 37rem;
        padding-bottom: 3rem;
        width: 95%;

        img {
          display: block;
          width: 100%;
          height: 25rem;
          object-fit: cover;
          border-radius: 5px 5px 0 0;
        }

        h3 {
          font-size: 1.8rem;
          margin-bottom: 1rem;
        }

        a {
          font-size: 1.4rem;
          padding: 0.5rem 1rem;
          background-color: $green-mint;
          color: white;
          text-decoration: none;
          border-radius: 0.5rem;
        }

        a:hover {
          background-color: darken($green-mint, 10%);
        }
      }
    }

    .no-result {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8d7da;
      border: 1px solid #f5c6cb;
      border-radius: 5px;
      color: #721c24;
      height: 37rem; // Same height as .swiper-slide
      text-align: center;
      flex-direction: column;

      .no-result__text {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        h3 {
          font-size: 1.8rem;
          margin: 0;
        }
      }
    }
  }

  .how-contribute-img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
      flex-direction: row;
      width: 9rem;
      height: 9rem;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 3;

      @media screen and (max-width: $tablet-size) {
        width: 7rem;
        height: 7rem;
      }

      @media screen and (max-width: $phone-size) {
        width: 5rem;
        height: 5rem;
      }
    }

    .swiper-button-prev {
      &:hover {
        filter: invert(50%);
      }

      @media screen and (max-width: $tablet-size) {
        left: 1rem;
      }

      @media screen and (max-width: 450px) {
        left: 2rem;
      }
    }

    .swiper-button-next {
      transform: rotate(180deg) translateY(-6%);

      &:hover {
        filter: invert(50%);
      }

      @media screen and (max-width: $tablet-size) {
        right: 1rem;
      }

      @media screen and (max-width: 450px) {
        right: 2rem;
      }
    }

    .search-input {
      padding: 0.5rem;
      font-size: 2rem;
      border: 0.1rem solid #ccc;
      border-radius: 0.5rem;
      margin-top: 0.8rem;
      display: flex;
      align-self: flex-start;
      outline: none;
      border: solid 0.1rem $green-mint;
      color: $green-mint;

      &::placeholder {
        color: $green-mint;
        opacity: 0.6;
      }

      @media screen and (max-width: $tablet-size) {
        font-size: 1.8rem;
        padding: 0.4rem;
        margin-top: 0;
      }
      @media screen and (max-width: 450px) {
        font-size: 1.8rem;
        padding: 0.4rem;
        margin-top: 0.6rem;
        width: 15rem;
      }
      @media screen and (max-width: $phone-size) {
        font-size: 1.6rem;
        padding: 0.3rem;
        margin-top: -1rem;
      }
    }
  }

  &__jobs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 7rem;
    position: relative;
  }

  &__details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    font-size: 1.6rem;
    padding: 3rem 1rem;

    a {
      font-weight: 600;
      color: $dark-mint;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.contact_container {
  &__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.8rem;
    justify-content: center;
    text-align: center;
    // padding-bottom: 8rem;

    .small_info {
      font-size: 1.4rem;
    }

    .asociation_title {
      font-size: 1.4rem;
      color: $dark-mint;
      font-weight: 600;
    }

    .important_info {
      color: $dark-mint;
      font-size: 1.5rem;
      font-weight: 600;

      @media screen and (min-width: $phone-size) {
        font-size: 2rem;
      }
    }
  }
}
