.intro {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;

    &__container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 40vh;
      position: relative;

      &__logo{
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 4rem;

        & img {
          width: 240px;
          height: 240px;
        }
        
        & h1 {
          color: $dark-blue;
          font-weight: 700;
          }
          
          & h1:nth-child(1) {
            font-family: $gelasio;
            color: $dark-teal;
            font-weight: 400;
        }
      }
    }
  
    &__container-watch {
      position: absolute;
      right: 0;
      bottom: -75%;
      width: clamp(164px, 100%, 572px);
      height: auto;
    }
    &__cta {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      background-image: url("../assets/chevron-down.svg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      animation: bounce 2s infinite;
      filter: brightness(0) invert(0.7); // Lighter gray color for SVG
      transition: filter 0.3s ease; // Smooth transition for filter

      &:hover {
        animation-play-state: paused;
        filter: brightness(0) invert(0); // Change to black on hover
      }
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      easing: ease-in-out;
    }
  }
  
  @media screen and (max-width: 1025px) {
    .intro {
      &__container-watch {
        bottom: -50%; // Adjust watch position for smaller screens
        width: 50%; // Adjust watch size for smaller screens
      } 
    }
  }
  @media screen and (max-width: 769px) {
    .intro {

      &__container {
        &__logo{
          font-size: 3rem;
  
          & img {
            width: 180px;
            height: 180px;
          }
        }

      &__container-watch {
        bottom: -25%;
      }
    }
  }
  @media screen and (max-width: 540px) {
    .intro {
      height: 40vh;
      margin-top: 2rem;

      &__container {      
      &__logo{
        font-size: 2.5rem;

        & img {
          width: 140px;
          height: 140px;
        }
      }
    }
      &__container-watch {
        width: 40%;
        bottom: 0; 
      }
      &__cta{
        display: none;
      }
    }
  }
  @media screen and (max-width: 426px) {
    .intro {
      
      &__container {      
        &__logo{
          font-size: 2rem;
  
          & img {
            width: 120px;
            height: 120px;
          }
        }
      }
      &__container-watch {
        width: 40%; 
        bottom: 5%
      }
    }
  }
}