.intro {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;

    &__container {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 40vh;
      // background-image: url("../assets/logo.svg");
      // Took the logo from the current website for a more clear and unblured image
      background-image: url("../assets/intro-logo.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      position: relative;
    }
  
    &__container-watch {
      position: absolute;
      right: 0;
      bottom: -75%;
      width: clamp(164px, 100%, 572px);
      height: auto;
    }
    &__cta {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateY(-50%);
      width: 48px;
      height: 48px;
      background-image: url("../assets/chevron-down.svg");
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;
      animation: bounce 2s infinite;
      filter: brightness(0) invert(0.7); // Lighter gray color for SVG
      transition: filter 0.3s ease; // Smooth transition for filter

      &:hover {
        animation-play-state: paused;
        filter: brightness(0) invert(0); // Change to black on hover
      }
    }
  }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      easing: ease-in-out;
    }
  }
  
  @media screen and (max-width: 1025px) {
    .intro {
      &__container-watch {
        bottom: -50%; // Adjust watch position for smaller screens
        width: 50%; // Adjust watch size for smaller screens
      } 
    }
  }
  @media screen and (max-width: 769px) {
    .intro {
      &__container-watch {
        bottom: -25%;
      }
    }
  }
  @media screen and (max-width: 426px) {
    .intro {
      height: 40vh;
      margin-top: 6rem;

      &__container {
        background-size: 120%; // Adjust background size for smaller screens
      }
      &__container-watch {
        bottom: 0; 
      }
      &__cta{
        display: none;
      }
    }
  }
  @media screen and (max-width: 376px) {
    .intro {
      &__container-watch {
        width: 55%; 
        bottom: 5%
      }
    }
  }