/* JOIN US SECTION */
.tippy-box[data-theme~="tooltip-jitsi-theme"] {
  background-color: white;
  color: $green-mint;
  border: 1px solid $green-mint;
  border-radius: 8px;
  font-size: 1.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateX(-120%);

  .tippy-arrow {
    color: transparent;
  }

  @media (max-width: $tablet-size) {
    transform: translateX(10%);
  }
}

.join-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.6rem;
  padding: 3.2rem 2.4rem;
  background-color: $greyish-white;

  & h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
  }

  >h2 {
    inline-size: clamp(30rem, 60rem, 70rem);

    @media screen and (min-width: 500px) and (max-width: 650px) {
      inline-size: clamp(30rem, 45rem, 60rem);
    }

    @media screen and (min-width: 400px) and (max-width: 500px) {
      inline-size: clamp(20rem, 40rem, 60rem);
    }

    @media screen and (min-width: $phone-size) and (max-width: 400px) {
      inline-size: clamp(20rem, 30rem, 40rem);
    }
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 30rem 2rem 30rem;
  }

  &__meeting-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;

    & .meeting-item {
      display: flex;
      justify-content: flex-start;

      & .day-container {
        display: flex;
        gap: 0.6rem;
        margin-right: 2rem;
        align-items: center;
        justify-content: center;

        .meeting-icon {
          width: 42px;
          height: 42px;
          display: inline-flex;
          border-radius: 50%;
          border: 2px solid transparent;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #ededed;
            box-shadow: 2px 2px 6px #00000020, -2px -2px 12px $white;
          }

          .meeting-link {
            padding: 0.2rem;
            display: flex;
            align-items: center;
            width: 42px;
            height: 42px;
            color: $white;
            border-radius: 50%;
            background-color: $darker-gray;
            /* Culoarea implicita a svg-ului */
            mask-size: 32px 32px;
            mask-repeat: no-repeat;
            mask-position: center;
            transition: all 0.2s ease-in-out;
            mask-size: 42px 42px;
            mask-image: url("../assets/social-media-icons/jitsi_meeting_icon.svg");
          }

          &:hover .meeting-link {
            background-color: $linkedin-blue;
            animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          }
        }

        & .day-details {
          margin-left: 1rem;
          text-align: left;
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          & .day-time {
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 2.2rem;
          }

          & .hidden {
            visibility: hidden;
          }
        }
      }

      & .team-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 1rem;
        gap: 0.2rem;

        & .team {
          padding: 0rem;
        }

        & .team-type {
          font-weight: bold;
          font-size: 2.2rem;
          line-height: 2.2rem;
        }
      }
    }
  }

  .primary-btn {
    margin-top: 3rem;
  }
}

.highlight-text{
  color: $minty-qua;
}

.deep-blue-text{
  color: $deep-blue;
}

.dark-text{
  color: $dark;
}

.shade{
  box-shadow: 2px 2px 6px -4px rgba( 0, 0, 0, .25);
}

.join-us__sub-heading{
  font-size: 24px;
}

.meeting-section{
  position: relative;
  width: clamp(280px, 80rem, 100%);
  margin: 3rem 0 0;
}

.meeting-days{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0 20px;

  .meeting-day{
    width: clamp( 50px, calc(100% / 5), 200px);
    font-size: 24px;
    font-weight: bold;
    background-color: #ffffff;
    @include meeting-border;
    color: $black;
    padding: 26px 0;
    cursor: pointer;
    transition: .25s ease-out;
    letter-spacing: 2px;

    &.active{
      background-color: $minty-qua;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      color: #ffffff;
    }

    &:hover{
      background-color: $green-mint;
      color: $white;
      border-color: transparent;
    }

    &:active {
      background-color: $dark-mint;
      color: $white;
      border-color: transparent;
    }

    span{
      display: none;
    }
  }
}

.meeting-schedule{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0;
  gap: 20px;

  .meeting-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    @include meeting-border;
    cursor: pointer;
    min-height: 136px;
    transition: all .25s ease-out;

    &__top{
      font-size: 20px;
      font-weight: 600;
      color: $black;
      margin-bottom: .15rem;
      letter-spacing: 1px;
    }
    
    &__middle{
      font-size: 24px;
      font-weight: 700;
      color: $green-mint;
      letter-spacing: 1px;
    }

    &__bottom{
      font-size: 30px;
      font-weight: 700;
      margin-top: .6rem;
      color: $black;
      letter-spacing: 1px;
    }

    &.active{
      background: $minty-qua;
      border-color: transparent;
      
      .meeting-card__top{
        color: $deep-blue;
      }
      .meeting-card__middle{
        color: #ffffff;
      }
      .meeting-card__bottom{
        color: $deep-blue;
      }
    }

    &::after{
      position: absolute;
      content: attr(data-label);
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      background: transparent;
      color: #ffffff;
      border-radius: 1px solid red;
      font-size: 24px;
      font-weight: 700;
      padding: 14px 0 ;
      opacity: 0;
    }

    &::before{
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      background: url("/assets/round-table.png") no-repeat;
      background-position:  top center;
      width: 100%;
      height: 80px;
      opacity: 0;
    }

    &:hover{
      background-color: $green-mint;
      .meeting-card__top,
      .meeting-card__middle,
      .meeting-card__bottom{
        visibility: hidden;
      }

      &::after,
      &::before{
        opacity: 1;
      }
    }

    &:focus{
      background-color: $dark-mint;
      .meeting-card__top,
      .meeting-card__middle,
      .meeting-card__bottom{
        visibility: hidden;
      }

      &::after,
      &::before{
        opacity: 1;
      }
    }

  }
}

@media only screen and (max-width: $phone-size) {

  .join-us-section {
    & p {
      line-height: 2.5rem;
    }

    &__title-container {
      margin: 3rem 0 1.6rem;

      .title {
        padding: 0 2.7rem;
      }

      & .team-line {
        width: 22rem;
      }
    }
  }
}

@media only screen and (min-width: $phone-size) and (max-width: 500px) {
  .join-us__sub-heading{
    margin-top: 3rem;
  }

  .join-us-section {
    gap: 0rem;

    & p {
      padding: 0 2.5rem;
      line-height: 2.5rem;
    }

    &__meeting-list {
      gap: 1rem;

      & .meeting-item {
        & .day-container {
          & .day-details {
            & .day-time {
              font-size: 2rem;
            }
          }
        }

        & .team-container {
          & .team-type {
            font-size: 2rem;
          }
        }
      }
    }

    &__title-container {
      margin: 1.6rem 0 0rem;

      .title {
        margin: 2rem 0 0;
      }
    }

    .primary-btn {
      margin-top: 1.4rem;
    }
  }

  .meeting-days{
    justify-content: center;
    gap: 0 10px;
    .meeting-day{
      width: 50px;
      height: 50px;
      padding: 0 0 0 4px;
    }
  }

  .meeting-schedule{
    flex-direction: column;
    gap: 10px;
    .meeting-card{
      max-width: 310px;
      margin: auto;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: $tablet-size) {
  .join-us-section {
    padding: 3rem;

    & p {
      padding: 0 5rem 5rem 5rem;
      line-height: 2.5rem;
    }
  }

  .meeting-days{
    gap: 0 12px;
    .meeting-day{
      padding: 20px 0;
    }
  }

  .meeting-schedule{
    flex-direction: column;
    gap: 14px;
    .meeting-card{
      max-width: 420px;
      margin: auto;
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) and (max-width:#{$laptop-size}) {
  .join-us-section {
    padding: 2.4rem 5rem;

    & p {
      padding: 0 10rem 5rem 10rem;
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width:#{$laptop-size}) {

  .join-us-section {
    padding: 8.3rem 5rem;

    & p {
      padding: 0 0 2rem;
      line-height: 2.2rem;
      width: 860px;
    }
  }

  .meeting-days{
    
    .meeting-day{

      span{
        display: inline;
      }
    }
  }
}