/* JOIN US SECTION */
/* styles for tooltip - jitsi links in Întâlniri săptămânale*/
.tippy-box[data-theme~='tooltip-jitsi-theme'] {
  background-color: white;
  color: $green-mint;
  border: 1px solid $green-mint;
  border-radius: 8px;
  font-size: 1.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateX(-120%);
  .tippy-arrow {
    color: transparent;
  }
  @media(max-width: $tablet-size){
    transform: translateX(10%);
  }
}
.join-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: $greyish-white;
  padding: 0 0 2.4rem;

  & h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
    padding: 2.4rem 0;
  }

  > h2 {
    inline-size:clamp(30rem, 60rem, 70rem);

    @media screen and (min-width: 500px) and (max-width: 650px) {
      inline-size: clamp(30rem, 45rem, 60rem);
    }

    @media screen and (min-width: 400px) and (max-width: 500px) {
      inline-size: clamp(20rem, 40rem, 60rem);
    }

    @media screen and (min-width: $phone-size) and (max-width: 400px) {
      inline-size: clamp(20rem, 30rem, 40rem);
    }
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 30rem 2rem 30rem;
  }

  &__title-container{
    margin-bottom: 3rem;

    & .title{
      font-size: 2.2rem;
      padding: 0rem;
    }
  
    & .team-line{
      width: 28rem;
    }
  }

  &__meeting-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;

    & .meeting-item {
      display: flex;
      justify-content: flex-start;

      & .day-container {
        display: flex;
        gap: 0.6rem;
        margin-right: 2rem;

        .meeting-link {
          display: flex;
          align-items: center;
        }
      
        .meeting-logo {
          width: 38px;
          height: 38px;
        }

        & .day-details {
          margin-left: 1rem;
          text-align: left;
          display: flex;
          flex-direction: column;
  
          & .day-time {
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 2.2rem;
          }
        }
      }

      & .team-container {
        display: flex;
        flex-direction: column;
        align-items: start;
      
        & .team {
          padding: 0rem;
        }
  
        & .team-type {
          font-weight: bold;
          font-size: 2.2rem;
          line-height: 2.2rem;
        }
      }
    }
  }

  &__button {
    margin-top: 3rem;
    padding: 1rem 3.2rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: $green-mint;

    &:hover {
      transition: all 0.3s;
      background-color: $dark-mint;
    }
  }
}

@media only screen and (max-width:$phone-size) {
  .join-us-section {
    & p {
      line-height: 2.5rem;
    }

    &__title-container{
      margin: 3rem 0 1.6rem;

      .title{
        padding: 0 2.7rem;
      }
      & .team-line{
        width: 22rem;
      }
    }
  }
}

@media only screen and (min-width: $phone-size) and (max-width:500px) {
  .join-us-section {
    gap: 0rem;

    & h2{
      padding: 0 3rem;
      margin: 3rem 0;
    }

    & p {
      padding: 0 2.5rem;
      line-height: 2.5rem;
    }

    & ul {
      padding: 1rem 0;
      margin-bottom: 1rem;
      gap: 1.2rem;
    }

    .title{
      margin: 2rem 0 0;
    }

    &__button {
      margin-top: 1.8rem;
    }
  }
}

@media only screen and (min-width:500px) and (max-width: $tablet-size ) {
  .join-us-section {
    padding: 3rem;

    & p {
      padding: 0 5rem 5rem 5rem;
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) and (max-width:#{$laptop-size}) {
  .join-us-section {
    padding: 2.4rem 5rem;

    & p {
      padding: 0 10rem 5rem 10rem;
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width:#{$laptop-size}) {
  .join-us-section {
    padding: 8.3rem 5rem;

    & p {
      padding: 0 0 2rem;
      line-height: 2.2rem;
      width: 860px;
    }
  }
}
