/* JOIN US SECTION */
/* styles for tooltip - jitsi links in Întâlniri săptămânale*/
.tippy-box[data-theme~="tooltip-jitsi-theme"] {
  background-color: white;
  color: $green-mint;
  border: 1px solid $green-mint;
  border-radius: 8px;
  font-size: 1.4rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateX(-120%);
  .tippy-arrow {
    color: transparent;
  }
  @media (max-width: $tablet-size) {
    transform: translateX(10%);
  }
}

.join-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.6rem;
  padding: 3.2rem 2.4rem;
  background-color: $greyish-white;

  & h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
  }

  > h2 {
    inline-size: clamp(30rem, 60rem, 70rem);

    @media screen and (min-width: 500px) and (max-width: 650px) {
      inline-size: clamp(30rem, 45rem, 60rem);
    }

    @media screen and (min-width: 400px) and (max-width: 500px) {
      inline-size: clamp(20rem, 40rem, 60rem);
    }

    @media screen and (min-width: $phone-size) and (max-width: 400px) {
      inline-size: clamp(20rem, 30rem, 40rem);
    }
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 30rem 2rem 30rem;
  }

  &__meeting-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;

    & .meeting-item {
      display: flex;
      justify-content: flex-start;

      & .day-container {
        display: flex;
        gap: 0.6rem;
        margin-right: 2rem;
        align-items: center;
        justify-content: center;

        .meeting-icon {
          width: 42px;
          height: 42px;
          display: inline-flex;
          border-radius: 50%;
          border: 2px solid transparent;
          transition: all 0.2s ease-in-out;

          &:hover {
            background-color: #ededed;
            box-shadow: 2px 2px 6px #00000020, -2px -2px 12px $white;
          }

          .meeting-link {
            padding: 0.2rem;
            display: flex;
            align-items: center;
            width: 42px;
            height: 42px;
            color: $white;
            border-radius: 50%;
            background-color: $darker-gray; /* Culoarea implicita a svg-ului */
            mask-size: 32px 32px;
            mask-repeat: no-repeat;
            mask-position: center;
            transition: all 0.2s ease-in-out;
            mask-size: 42px 42px;
            mask-image: url("../assets/social-media-icons/jitsi_meeting_icon.svg");
          }

          &:hover .meeting-link {
            background-color: $linkedin-blue;
            animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          }
        }

        & .day-details {
          margin-left: 1rem;
          text-align: left;
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          & .day-time {
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 2.2rem;
          }

          & .hidden {
            visibility: hidden;
          }
        }
      }

      & .team-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: 1rem;
        gap: 0.2rem;

        & .team {
          padding: 0rem;
        }

        & .team-type {
          font-weight: bold;
          font-size: 2.2rem;
          line-height: 2.2rem;
        }
      }
    }
  }

  .primary-btn {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: $phone-size) {
  .join-us-section {
    & p {
      line-height: 2.5rem;
    }

    &__title-container {
      margin: 3rem 0 1.6rem;

      .title {
        padding: 0 2.7rem;
      }
      & .team-line {
        width: 22rem;
      }
    }
  }
}

@media only screen and (min-width: $phone-size) and (max-width: 500px) {
  .join-us-section {
    gap: 0rem;

    & p {
      padding: 0 2.5rem;
      line-height: 2.5rem;
    }

    &__meeting-list {
      gap: 1rem;

      & .meeting-item {
        & .day-container {
          & .day-details {
            & .day-time {
              font-size: 2rem;
            }
          }
        }

        & .team-container {
          & .team-type {
            font-size: 2rem;
          }
        }
      }
    }

    &__title-container {
      margin: 1.6rem 0 0rem;

      .title {
        margin: 2rem 0 0;
      }
    }

    .primary-btn {
      margin-top: 1.4rem;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: $tablet-size) {
  .join-us-section {
    padding: 3rem;

    & p {
      padding: 0 5rem 5rem 5rem;
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) and (max-width:#{$laptop-size}) {
  .join-us-section {
    padding: 2.4rem 5rem;

    & p {
      padding: 0 10rem 5rem 10rem;
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width:#{$laptop-size}) {
  .join-us-section {
    padding: 8.3rem 5rem;

    & p {
      padding: 0 0 2rem;
      line-height: 2.2rem;
      width: 860px;
    }
  }
}
