/* JOIN US SECTION */
.join-us-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: $greyish-white;
  padding: 0 0 2.4rem;

  & h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
    padding: 2.4rem 0;
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding: 0 30rem 2rem 30rem;
  }

  & .meeting-title{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem;
    padding: 0.4rem 0 0.1rem;
  }

  &__meeting-subtitle{
    font-size: 2rem;
    padding-bottom: 3rem;
  }

  &__meeting-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.2rem;

    & .meeting-item {
      display: flex;
      justify-content: flex-start;

      & .day-container {
        display: flex;
        gap: 0.6rem;
        margin-right: 3rem;

        .meeting-link {
          display: flex;
          align-items: center;
        }
      
        .meeting-logo {
          width: 38px;
          height: 38px;
        }

        & .day-details {
          text-align: left;
          display: flex;
          flex-direction: column;
  
          & .day-time {
            font-weight: bold;
            font-size: 2.2rem;
            line-height: 2.2rem;
          }
        }
      }

      & .team-container {
        display: flex;
        flex-direction: column;
        align-items: start;
      
        & .team {
          padding: 0rem;
        }
  
        & .team-type {
          font-weight: bold;
          font-size: 2.2rem;
          line-height: 2.2rem;
        }
      }
    }
  }

  &__button {
    margin-top: 3rem;
    padding: 1rem 3.2rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: $green-mint;

    &:hover {
      transition: all 0.3s;
      background-color: $dark-mint;
    }
  }
}

@media only screen and (max-width:#{$phone-size}) {
  .join-us-section {
    padding: 3rem;

    & p {
      padding: 0rem;
      line-height: 2.5rem;
    }
    & button {
      margin-top: 3rem;
    }

    .meeting-title{
      padding-top: 1.6rem;
    }

    &__meeting-subtitle{
      padding: 0rem 0rem 1.6rem;
    }

    &__button {
      margin-top: 0rem;
    }
  }
}

@media only screen and (min-width:#{$phone-size}) and (max-width:500px) {
  .join-us-section {
    gap: 0rem;

    & p {
      padding: 0 3rem 0rem 3rem; // Reduced X padding for better text wrapping
      line-height: 2.5rem;
    }

    & h3 {
      padding-top: 1rem;
    }

    & ul {
      padding: 1rem 0;
      margin-bottom: 1rem;
      gap: 1.2rem;
    }

    .meeting-title{
      padding-top: 1.6rem;
    }

    &__button {
      margin-top: 1.8rem;
    }
  }
}

@media only screen and (min-width:500px) and (max-width:#{$tablet-size}) {
  .join-us-section {
    padding: 3rem;

    & p {
      padding: 0 10rem 5rem 10rem;
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) and (max-width:#{$laptop-size}) {
  .join-us-section {
    padding: 2.4rem 5rem;

    & p {
      padding: 0 10rem 5rem 10rem;
      line-height: 2.5rem;
    }
  }
}

@media only screen and (min-width:#{$laptop-size}) {
  .join-us-section {
    padding: 8.3rem 5rem;

    & p {
      padding: 0 20rem 2rem 20rem;
      line-height: 2.2rem;
    }
  }
}
