/* OUR MISSION SECTION */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 13.5rem;
  padding-bottom: 14rem;

  &__content {
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 7rem 0;

      > h2 {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 3.6rem;
        text-align: center;
        color: $black;
      }
    }

    &__details {
      display: flex;
      align-items: center;
      gap: 12.4rem;

      .description {
        width: 47.5rem;
        position: relative;

        p {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.2rem;
          text-align: left;
          margin-bottom: 1.8rem;
        }

        img {
          transform: rotate(180deg);
          position: absolute;
          right: 0;
        }
      }

      .search-engine {
        width: 52rem;
        height: 37.5rem;
        padding: 1rem;

        & iframe {
          transform: scale(0.75);
          transform-origin: 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width:#{$phone-size}) {
  .our-mission {
    &__content {
      &__title h2{
        font-size:2.2rem;
      }

      &__details {
        display: block ;
        text-align:left;

      .description {
        width:100vw;
        margin:0 auto;
        white-space: normal;
        padding:0 2rem;

        p {
          font-size:1.4rem;
          margin-bottom:2rem;
        }

        img {
          display:none;
        }
      }

      .search-engine {
        width:30rem;
        height:0;
        padding:0;

        iframe {
          width:43rem;
        }
      }
    }
    }
    
  }
}

@media only screen and (min-width:#{$phone-size})  and (max-width:#{$tablet-size}){
 .our-mission {
    &__content {
      &__title h2{
        font-size:2.2rem;
      }

      &__details {
        display: block ;
        text-align:left;

      .description {
        width:auto;
        margin:0 auto;
        white-space: normal;
        padding:0 2rem;

        p {
          font-size:1.4rem;
          margin-bottom:2rem;
        }

        img {
          display:none;
        }
      }

      .search-engine {
        width:30rem;
        height:0;
        padding:0;

        iframe {
          width:43rem;
        }
      }
    }
    }
    
  }
}
@media screen and (min-width:650px) and (max-width:#{$tablet-size}){
  .our-mission {
    &__content {
      &__title h2{
        font-size:2.2rem;
      }

      &__details {
        display: block ;
        text-align:left;

      .description {
        width:auto;
        margin:0 auto;
        white-space: normal;
        padding:0 2rem;

        p {
          font-size:1.4rem;
          margin-bottom:2rem;
        }

        img {
          display:none;
        }
      }

      .search-engine {
        width:30rem;
        height:0;
        padding:0;

        iframe {
          width:80vw;
        }
      }
    }
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) and (max-width:#{$laptop-size}){
  .our-mission {
    &__content {
      &__details {
      display: block;

      .description {
        margin-left:40px;

        img {
          display:none;
        }
        iframe {
          width:80vw;
        }
      }
    }
    }
    
  }
}

@media only screen and (min-width:#{$laptop-size}) and (max-width:#{$desktop-size}){
  .our-mission {
    &__content {
      &__details {
      gap:0px;
    }
    }
    
  }
}