/* OUR MISSION SECTION */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__details {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;

      & a {
        font-weight: bold;
        color: $green-mint;
      }

      .description,
      .search-engine {
        flex: 1 1 48%;
        min-height: fit-content;
        box-sizing: border-box;
        padding: 1rem;
        margin: 0 auto;

        p {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2.2rem;
          text-align: left;
          margin-bottom: 1.8rem;
        }
      }

      .description {
        position: relative;
        img {
          transform: rotate(180deg);
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      .search-engine-img {
        width: 100%;
        margin: 0 auto;
      }

      @media (max-width: 769px) {
        .description,
        .search-engine {
          flex: 1 1 100%;
          max-width: 100%;
          padding: 1rem 0;
        }

        .search-engine {
          height: auto;
        }
      }
    }
  }
}

@media only screen and (max-width:#{$phone-size}) {
  .our-mission {
    &__content {
      &__details {
        display: block;
        text-align: left;

        .description {
          width: 100vw;
          margin: 0 auto;
          white-space: normal;
          padding: 0 2rem;

          p {
            margin-bottom: 2rem;
          }

          img {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:#{$phone-size})  and (max-width:#{$tablet-size}) {
  .our-mission {
    &__content {
      &__details {
        display: block;
        text-align: left;

        .description {
          width: auto;
          margin: 0 auto;
          white-space: normal;

          p {
            margin-bottom: 2rem;
          }

          img {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width:650px) and (max-width:#{$tablet-size}) {
  .our-mission {
    margin-bottom: 3rem;

    &__content {
      &__details {
        display: block;
        text-align: left;

        .description {
          width: auto;
          margin: 0 auto;
          white-space: normal;
          padding: 0 2rem;

          p {
            margin-bottom: 2rem;
          }

          img {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .our-mission {
    &__content {
      &__details {
        display: block;

        .description {
          img {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width:#{$laptop-size}) and (max-width:#{$desktop-size}) {
  .our-mission {
    padding: 7rem 13.5rem;
    &__content {
      &__details {
        gap: 0px;
      }
    }
  }
}

@media only screen and (min-width: #{$desktop-size}) {
  .search-engine img {
    min-height: 330px;
  }
}
