/* OUR MISSION SECTION */
.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem 2.4rem;
  overflow: hidden;

  &__content {
    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.4rem 0 2rem;

      > h2 {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 3.6rem;
        text-align: center;
        color: $black;
      }

      > img {
        width: 23rem;
      }
    }

    &__details {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: start;

      .slide-card {
        width: 80px;
        height: 60dvh;
        overflow: hidden;
        display: flex;
        align-items: flex-start;
        background-color: $greyish-white;
        transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
        cursor: pointer;

        .row {
          color: $dark-gray;
          display: flex;
          flex-wrap: nowrap;
          height: 100%;

          .icon {
            background: $dark-blue;
            font-size: 2rem;
            color: $white;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px;
          }

          .description {
            padding: 15px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            height: fit-content;
            width: 520px;
            opacity: 0;
            transform: translateY(30px);
            transition-delay: 0.3s;
            transition: all 0.3s ease;

            h4 {
              font-size: 2rem;
            }
            p {
              word-break: word-break;
              width: 80%;
              font-size: 1.2rem;
              color: #b0b0ba;
              padding-top: 5px;
            }
          }
        }

        &:nth-child(2) {
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
        }

        &:last-child {
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
        }
      }

      input {
        display: none;
      }

      input:checked {
        & + .slide-card {
          background-color: #fff;
          width: 600px;

          .row {
            .description {
              height: 100%;
              display: flex;
              opacity: 1;
              transform: translateY(0px);
              flex-direction: column;
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .our-mission {
    padding: 0 2rem 2rem;
  }

  .our-mission__content__details {
    flex-direction: row;
    justify-content: center;

    .slide-card {
      width: 70px;
      height: 55dvh;
    }

    input:checked + .slide-card {
      width: 500px;
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) {
  .our-mission {
    h2 {
      font-size: 3.2rem;
    }
  }
}
