@import "../utils/colors";

.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &-title {
    display: flex;
    flex-direction: column;

    & h2 {
      font-size: 2.2rem;
      font-weight: 400;
      text-align: center;
      color: $black;
      margin-bottom: -0.5rem;
      padding-top: 7rem;
    }

    & img {
      transform: scale(0.9);
    }
  }

  &-text {
    padding: 3.5rem;
    font-size: 1.6rem;
    line-height: 130%;
    text-wrap: balance;
    width: 100rem;
  }

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 920px;
    height: 600px;
    margin-top: 5rem;
  }
  &-individual {
    display: flex;
    flex-direction: row;
  }

  &-left {
    width: 49.2rem;
    height: 51.7rem;
    background-color: $green-mint;
    color: $white;
    font-size: 1.8rem;
    text-align: left;
    padding: 12rem 7rem 0 7rem;
    position: relative;
    line-height: 130%;
    text-wrap: balance;

    & img {
      position: absolute;
      top: 4rem;
      right: 4rem;
      filter: invert(43%) sepia(21%) saturate(964%) hue-rotate(126deg)
        brightness(91%) contrast(91%);
    }
  }

  &-name {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    & p {
      color: lightgray;
    }
  }

  &-right img {
    width: 34.8rem;
    height: 51.7rem;
    object-fit: cover;
  }

  &-extra {
    position: absolute;
    bottom: 4rem;
    right: 0;
    color: $dark-mint;
    font-size: 4.4rem;
    padding-left: 25rem;
    line-height: 80%;
  }
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
    right: -3rem;
    top: 40%;
    .swiper-pagination-bullet {
      width: 8px;
      height: 20px;
      border-radius: 1rem;
      background: $dark-mint;
    }
  }
}

@media (max-width: $laptop-size) {
  .stories {
    padding-bottom: 10rem;
    &-text {
      padding: 3rem;
      padding-bottom: -2rem;
      width: auto;
    }
    &-container {
      height: 700px;
      margin-top: 0;
    }
    &-individual {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -9rem;
    }

    &-right {
      z-index: 100;
    }

    &-right img {
      margin-bottom: -17rem;
      object-fit: cover;
      width: 100%;
      transform: scale(0.5);
      border-radius: 30rem;
    }

    &-left {
      order: 2;
      height: auto;
      text-align: center;
      padding: 6rem 4rem;
      width: auto;
      max-width: 51.7rem;

      .stories-extra {
        font-size: 2.4rem;
        width: 40rem;
        bottom: 2rem;
      }

      & img {
        transform: scale(0.5);
        left: 0;
        top: 0;
      }

      & p {
        font-size: 1.6rem;
        text-wrap: balance;
      }
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) {
  .stories h2 {
    font-size: 3.2rem;
  }
}

// (A) Media queries for smaller screens
@media only screen and (max-width: 426px) {
  .stories {
    &-left {
      height: 460px; // (A) Expands height to display the whole element
    }
  }
  .swiper.swiper-cards {
    display: flex;
    flex-direction: column;
    overflow: hidden !important; // (A) fixes the white gap on smaller screens
  }
}

@media only screen and (max-width:#{$tablet-size}) {
  .stories-container {
    height: 720px; // (A)
    //   .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
    //     top: -12rem;
    //     right: 50%;
    //     transform: translateX(50%);
    //     transform: rotate(-90deg);
    //   }
  }
  .stories-title img {
    transform: scale(0.6);
  }
}
