@import "../utils/breakpoints";

// Laptop, Desktop, and Widescreen
$font-size-h2: 3.2rem;
$font-size-p: 1.6rem;
$font-size-h4: 2rem;

// Phone Variables
$phone-font-size-h2: 3.2rem;
$phone-font-size-p: 2.2rem;
$phone-font-size-h4: 2.5rem;
$phone-line-height-p: 2rem;

// Tablet Variables
$tablet-font-size-h2: 2rem;
$tablet-font-size-p: 1.6rem;
$tablet-font-size-h4: 2rem;
$tablet-line-height-p: 2rem;

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 34rem;
  gap: 3.5rem;
  background-color: #f3f3f3;

  h2 {
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    color: #000000;
    margin-bottom: -0.5rem;
  }

  .team-line {
    transform: scale(0.6);
  }

  p {
    font-size: 1.6rem;
    line-height: 130%;
    text-align: center;
  }

  &__members {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 6rem;
    padding-bottom: 3rem;
  }

  &__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    &__desc {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    &-img {
      width: 16rem;
      height: 16rem;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
    }

    h4 {
      font-size: 2rem;
      font-weight: 500;
    }

    p {
      font-size: 1.6rem;
    }

    &__socials {
      display: flex;
      gap: 1.6rem;
      align-items: center;
      justify-content: center;

      img:hover {
        transform: all 0.2s;
        filter: invert(41%) sepia(45%) saturate(514%) hue-rotate(126deg) brightness(89%) contrast(88%);
      }
    }
  }
}

// $tablet-size: 768px;
@media only screen and (max-width: $tablet-size) {
  .team {
    p {
      width: 90vw;
      font-size: $phone-font-size-p;
    }

    // larger/wider for smaller screens

    &__members {
      flex-direction: column;
      // swtiched from row to column for narrow screens
    }

    &__member {
      display: grid;
      grid-template-columns: repeat(2, 40vw);
      grid-template-rows: repeat(3, auto);
  
      &-img {
        grid-column: 1;
        grid-row: 1 / 3;
      }
  
      h4 {
        grid-column: 2;
        grid-row: 1; // Centered vertically
        justify-self: center; // Centered horizontally
        font-size: $phone-font-size-h4;
      }
  
      p {
        grid-column: 2;
        grid-row: 2; // Centered vertically
        justify-self: center; // Centered horizontally
        width: auto;
        font-size: $phone-font-size-p;
      }
  
      &__socials {
        grid-column: 2;
        grid-row: 3; // Centered vertically
        justify-self: center; // Centered horizontally
      }
    }
  }
}