@import "../utils/breakpoints";

// Laptop, Desktop, and Widescreen
$font-size-h2: 3.2rem;
$font-size-p: 1.6rem;
$font-size-h4: 2rem;

// Phone Variables
$phone-font-size-h2: 20px;
$phone-font-size-p: 16px;
$phone-font-size-h4: 22px;
$phone-line-height-p: 22px;

// Tablet Variables
$tablet-font-size-h2: 22px;
$tablet-font-size-p: 20px;
$tablet-font-size-h4: 25px;
$tablet-line-height-p: 25px;

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 34rem;
  gap: 3.5rem;
  background-color: #f3f3f3;

  h2 {
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    color: #000000;
    margin-bottom: -0.5rem;
  }

  .team-line {
    transform: scale(0.6);
  }

  p {
    font-size: 1.6rem;
    line-height: 130%;
    text-align: center;
  }

  &__members {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 6rem;
    padding-bottom: 3rem;
  }

  &__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    &__desc{
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    &-img {
      width: 16rem;
      height: 16rem;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
    }

    h4 {
      font-size: 2rem;
      font-weight: 500;
    }

    p {
      font-size: 1.6rem;
    }

    &__socials {
      display: flex;
      gap: 1.6rem;
      align-items: center;
      justify-content: center;

      img:hover {
        transform: all 0.2s;
        filter: invert(41%) sepia(45%) saturate(514%) hue-rotate(126deg) brightness(89%) contrast(88%);
      }
    }
  }
}

// $tablet-size: 768px;
@media only screen and (max-width: $tablet-size) {
  .team{
    justify-content: center;
    p{
      width: 100vw;
      font-size: $phone-font-size-p;
    }

    &__members {
      flex-direction: column;
    }
    &__member{
      display: grid;
  grid-template-columns: repeat(2, 210px);
  gap: 1px 1px;
      &-img{
        margin-left: 50px;
      }

      &__desc{
        align-items: center;
        justify-content: center;

      }
    }
  }
}