/* THANK YOU SECTION */
.thank-section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15rem 2rem;

  &__final-logo {
    margin-bottom: 3rem;
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    max-width: 620px;
  }
}

@media only screen and (max-width:#{$phone-size}) {
  .thank-section {
    & p {
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}

@media only screen and (min-width:#{$phone-size}) and (max-width:#{$desktop-size}) {
  .thank-section {
    padding: 12rem 2; // Adjust padding acording to the margin of the logo
    &__final-logo {
      margin-bottom: 6rem; // Increase gap between logo and text
    }
    & p {
      padding: 0 7rem 2rem 7rem; // X axis padding for better text wrap
      text-wrap: pretty; // Prevent one word/row
    }
  }
}

@media only screen and (min-width:#{$desktop-xxl-size}) {
  .thank-section {
    & p {
      line-height: 2.4rem;
    }
  }
}
