/* THANK YOU SECTION */
.thank-section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15rem 0;

  &__final-logo {
    padding-bottom: 3rem;
  }

  & p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    padding-left: 42rem;
    padding-right: 42rem;
  }
}

@media only screen and (max-width:#{$phone-size}){
  .thank-section{

    & p{
      padding-left:0rem;
      padding-right:0rem;
    }
  }
}

@media only screen and (min-width:#{$phone-size}) and (max-width:#{$tablet-size}){
  .thank-section{
   
    & p{
      padding: 0 10rem 2rem 10rem;

    }
  }
}

@media only screen and (min-width:#{$tablet-size}) and (max-width:#{$laptop-size}){
   .thank-section{
    
    & p{
       padding: 0 10rem 2rem 10rem;

    }
  }
}

@media only screen and (min-width:#{$laptop-size}) and (max-width:#{$desktop-size}){
  .thank-section{

    & p{
       padding: 0 10rem 2rem 10rem;

    }
  }
}

@media only screen and (min-width:#{$desktop-xxl-size}) {
  .thank-section{
    display:flex;
    align-items:center;
    text-align:center;

    & p{
      line-height:2.4rem;
    }
  }
}