/* WHY CONTRIBUTE SECTION */
.why-contribute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.2rem 0;

    & h2 {
      font-size: 3.2rem;
      font-weight: 400;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 4.2rem;
  }

  &__reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25rem;
    padding-top: 0;
    padding-bottom: 15rem;

    &__reason {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5rem;

      & p {
        font-size: 2rem;
        text-align: center;
        padding-top: 1.5rem;
      }
    }
  }
}
