/* WHY CONTRIBUTE SECTION */
.why-contribute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3.2rem 2.4rem;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem 0 2rem;

    & h2 {
      font-size: 2.2rem;
      font-weight: 400;
    }

    & img {
        width: 23rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4.2rem;

    & p {
      font-size: 1.6rem;
      text-align: center;
    }
  
  }

  &__reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: clamp(240px, 100%, 900px); // Changed padding with adaptive width
    padding-top: 0;

    &__reason {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 5rem;

      & p {
        font-size: 2rem;
        text-align: center;
        padding-top: 1.5rem;
        inline-size: 10rem;
      }

      &:last-child {  
        p {
          overflow-wrap: break-word;
          inline-size: 8rem;
        }
      }
    }
  }
}

@media screen and (min-width: $laptop-size){
  .why-contribute {
    padding-bottom: 12rem;
    &__title {
      padding: 7rem 0 3.5rem;
    }

    &__description {
      padding: 0 15rem 4rem 15rem;
      gap: 0.2rem;
    }
  
    &__reasons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 3rem;

      &__reason {
        padding: 0rem;
  
        & img {
          width: 7rem;
        }

        & p {
          font-size: 1.8rem;
          padding-top: 1.4rem;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-size){
  .why-contribute {
    padding-bottom: 20.2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: $laptop-size){
  .why-contribute { 
    padding-bottom:7rem; 
    &__description {
      padding: 1rem 10rem 3rem 10rem;
      gap: 0.4rem;
    }
  
    &__reasons {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 3rem;
      padding: 0rem;
      
      &__reason {
        padding: 0.5rem;
        grid-column: span 2;
     
        &:last-child:nth-child(3n - 1) {
          grid-column-end: -2;
        }
        
        &:nth-last-child(2):nth-child(3n + 1) {
          grid-column-end: 4;
        }

        & img {
          width: 6rem;
        }
  
        & p {
          inline-size: 12rem;
          padding: 1.5rem 0.3rem 0.3rem 0.3rem;
        }

        &:last-child {  
          p {
            inline-size: 10rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: $phone-size) and (max-width: $tablet-size){
  .why-contribute{
    &__title {      
      & h2 {
        padding: 0.8rem 3.95rem;
        line-height: 113%;
      }

      & img{
        margin-top: -1rem;
        width: 18.3rem;
        height: 2rem;
      }
    }

    &__description {
      & p {
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-bottom: 2rem;
      }
    }
  
    &__reasons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2.4rem;

      &__reason {
        padding: 0rem;
        gap: 0.9rem;
  
        & p {
          inline-size: 8rem;
          font-size: 1.4rem;
          line-height: 136%;
        }

        & img {
          width: 5rem;
        }

        &:last-child {  
          p {
            inline-size: 7rem;
          }
        }
      }
    }
  }
}

@media (max-width: $phone-size){
  .why-contribute{
    &__description {
      padding: 0 2rem;
      gap: 1rem;
    }
  }
}

@media only screen and (min-width:#{$tablet-size}) {
  .why-contribute h2 {
        font-size: 3.2rem;
    }
}