$white: #f3f3f3;
$white-smoke: #f5f5f5;
$dark-blue: #1d2b59;
$dark-teal: #2c6980;
$black: #000000;
$mint: #c1dcdc;
$green-mint: #2f7973;
$dark-mint: #1e524e;
$gray: #1e1e1e80; // 50%
$greyish-white: #f7f7f7;
$dark-gray: #6b6b6b;
$darker-gray: #4b4b4b;
$light-white: #ccc;

$linkedin-blue: #0a66c2;
$discord-purple: #738adb;
