$white: #f3f3f3;
$black: #000000;

$dark: #333333;
$minty-qua: #48AFAB;
$deep-blue: #1D2B5D;

$light-white: #ccc;
$white-smoke: #f5f5f5;
$greyish-white: #f7f7f7;
$mint: #c1dcdc;
$gray: #1e1e1e80; // 50%
$dark-gray: #6b6b6b;
$darker-gray: #4b4b4b;
$dark-blue: #1d2b59;
$dark-teal: #2c6980;
$green-mint: #2f7973;
$dark-mint: #1e524e;

$linkedin-blue: #0a66c2;
$discord-purple: #738adb;

// Flag colors
$ro-blue: #002b7f;
$ro-yellow: #fcd116;
$ro-red: #ce1126;
