@mixin flex($direction: null, $justify: null, $align: null) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }
}

@mixin meeting-border{
    border-left: 1px solid rgba(47,121,115,.5);
    border-right: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    border-radius: 15px;
}