@import "./typography";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: $roboto;
}

a {
  color: inherit;
  text-decoration: none;
}

section:target {
  padding-top: 10rem !important;
}