@import "./typography";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: $roboto;
  // overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

section:target {
  padding-top: 10rem !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

// Global styles for buttons
.custom-btn {
  padding: 1.2rem 2.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 1.2rem;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}

// Primary
.primary-btn {
  @extend .custom-btn;
  color: $white;
  background-color: $green-mint;
  border: none;

  &:hover {
    background-color: $dark-mint;
  }
}

// Secondary
.secondary-btn {
  @extend .custom-btn;
  color: $green-mint;
  background-color: $white;
  border: 2px solid $green-mint;

  &:hover {
    color: $white;
    background-color: $dark-mint;
    border-color: $dark-mint;
  }
}

// Job button
.job-btn {
  font-size: 1.4rem;
  padding: 1rem 1.6rem;
  @extend .primary-btn;
}

// Team navigation
.team-btn {
  font-size: 1.8rem;
  padding: 0.6rem 0.8rem;
  margin: 0.8rem 0.3rem;
  @extend .secondary-btn;
}

// Button icon
.btn-icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 0.8rem;
  background: url("../assets/rocket.svg") no-repeat center/contain;
  color: $white;
}

// Underlined title global style
.underlined-title {
  align-self: center;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: center;
    color: $black;
  }

  .underline {
    width: 100%;
    display: block;
  }
}

// Scroll-to-top button
.top-redirect-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  z-index: 99;
  opacity: 0;
  bottom: 0rem;
  right: 2rem;

  img {
    width: 4rem;
    height: 4rem;
    transition: all 0.3s ease;
  }

  &:hover img {
    filter: invert(44%) sepia(9%) saturate(2875%) hue-rotate(126deg)
      brightness(85%) contrast(77%);
  }
}

@media only screen and (min-width: $tablet-size) {
  .underlined-title {
    .title {
      font-size: 3.2rem;
    }
  }
}
